
<div class="row all_channels_bar ">
  <br>
  <div class="col-xs-12">
  <%= image_tag("broadcast.png", size: "55x56", alt: "live stream", class: "live_image") %>
  <span class="live_words">Live Streaming</span>
  <%= link_to  "StreamCircle首頁", root_path, class: "rootpath" %>
  </div>
</div>
<br>

<div class="row row_width">
  <% @channels.each do |c| %>
  <div class="col-xs-12 col-sm-6 col-md-4 all_channel_img">
    <div><%= link_to image_tag(c.url,size: "300x180"), c, target: "_blank" %></div>
    <% if c.viewers == 0 || c.viewers.blank? %>
      <div class="channel_name"><%= c.name %></div>
      <br>
      <div class="channel_name">
        <div id="circle_live" style="display: inline-block; background-color: white;"></div>
        <div style="display: inline-block;">Offline</div>
      </div>
      <br>
    <% else %>
      <div class="channel_name"><%= c.channel_title %></div>
      <div class="channel_name"><%= c.user.name %></div>
      <div class="channel_name">
        <div id="circle_live" style="display: inline-block;"></div>
        <div style="display: inline-block;">
          <span class="user_name"><%= c.name %> Live</span> <%= c.viewers %> 觀眾
        </div>
      </div>
      <br>
    <% end %>
  </div>
  <% end %>
</div>
