
<div class="row">
  <br>
  <%= image_tag("live_stream.png", alt: "live stream", class: "live_image") %>
  <span class="live_words">Live Streaming</span>
  <%= link_to  "StreamCircle首頁", root_path, class: "rootpath" %>
</div>
<br>

<div class="row row_width">
  <% @channels.each do |c| %>
  <div class="col-xs-4">
      <div>頻道: <%= c.name %></div>
      <div><%= link_to image_tag(c.url,size: "300x180",), c, target: "_blank" %></div>
      <% stream_channel = c.get_data_from_twitch(c.name) %>
      <% if c.name == "youtube"%>
        <% if stream_channel != nil && stream_channel["concurrentViewers"] %>
          <p>Youtube Live</p>
          <div>直播主: <%= c.user.name %></div>
          <div>
            <div id="circle_live" style="display: inline-block;"></div>
            <div style="display: inline-block;">
              Live <%= stream_channel["concurrentViewers"]%> watching
            </div>
          </div>
          <br>
        <% else  %>
          <p>Youtube Live</p>
          <br>
          <div>
            <div id="circle_live" style="display: inline-block; background-color: white;"></div>
            <div style="display: inline-block;">Offline</div>
          </div>
          <br>
        <% end %>
      <% elsif c.name == "twitch"%>
        <% if stream_channel %>
          <p><%= stream_channel["game"] %></p>
          <div>直播主: <%= c.user.name %></div>
          <div>
            <div id="circle_live" style="display: inline-block;"></div>
            <div style="display: inline-block;">Live <%= stream_channel["viewers"] %> watching</div>
          </div>
          <br>
        <% else  %>
          <p>Twitch Live</p>
          <br>
          <div>
            <div id="circle_live" style="display: inline-block; background-color: white;"></div>
            <div style="display: inline-block;">Offline</div>
          </div>
          <br>
        <% end %>
      <% end %>
  </div>
  <% end %>
</div>
