<%= render "shared/navbar" %>
<div class="row row_slider">
  <div class="flexslider">
    <ul class="slides">
      <li>
        <% if @channels_top5[0].name == "Twitch" %>
          <iframe src="http://www.twitch.tv/<%= url_exp(@channels_top5[0].url, @channels_top5[0].name) %>/embed" frameborder="1" scrolling="no" width="830" height="575"  allowfullscreen></iframe>
        <% elsif @channels_top5[0].name == "Youtube" %>
          <iframe src="https://www.youtube.com/embed/<%= url_exp(@channels_top5[0].url, @channels_top5[0].name) %>?autoplay=1" frameborder="1" scrolling="no"  width="830" height="575" allowfullscreen></iframe>
        <% else %>
          <img src="<%= @channels_top5[0].url  %>" />
        <% end %>
      </li>
      <li>
        <% if @channels_top5[1].name == "Twitch" %>
          <iframe src="http://www.twitch.tv/<%= url_exp(@channels_top5[1].url, @channels_top5[1].name) %>/embed" frameborder="1" scrolling="no" width="830" height="575"  allowfullscreen></iframe>
        <% elsif @channels_top5[1].name == "Youtube" %>
          <iframe src="https://www.youtube.com/embed/<%= url_exp(@channels_top5[1].url, @channels_top5[1].name) %>?autoplay=1" frameborder="1" scrolling="no"  width="830" height="575" allowfullscreen></iframe>
        <% else %>
          <img src="<%= @channels_top5[1].url  %>" />
        <% end %>
      </li>
      <li>
        <% if @channels_top5[2].name == "Twitch" %>
          <iframe src="http://www.twitch.tv/<%= url_exp(@channels_top5[2].url, @channels_top5[2].name) %>/embed" frameborder="1" scrolling="no" width="830" height="575"  allowfullscreen></iframe>
        <% elsif @channels_top5[2].name == "Youtube" %>
          <iframe src="https://www.youtube.com/embed/<%= url_exp(@channels_top5[2].url, @channels_top5[2].name) %>?autoplay=1" frameborder="1" scrolling="no"  width="830" height="575" allowfullscreen></iframe>
        <% else %>
          <img src="<%= @channels_top5[2].url  %>" />
        <% end %>
      </li>
      <li>
        <% if @channels_top5[3].name == "Twitch" %>
          <iframe src="http://www.twitch.tv/<%= url_exp(@channels_top5[3].url, @channels_top5[3].name) %>/embed" frameborder="1" scrolling="no" width="830" height="575"  allowfullscreen></iframe>
        <% elsif @channels_top5[3].name == "Youtube" %>
          <iframe src="https://www.youtube.com/embed/<%= url_exp(@channels_top5[3].url, @channels_top5[3].name) %>?autoplay=1" frameborder="1" scrolling="no"  width="830" height="575" allowfullscreen></iframe>
        <% else %>
          <img src="<%= @channels_top5[3].url  %>" />
        <% end %>
      </li>
      <li>
        <% if @channels_top5[4].name == "Twitch" %>
          <iframe src="http://www.twitch.tv/<%= url_exp(@channels_top5[4].url, @channels_top5[4].name) %>/embed" frameborder="1" scrolling="no" width="830" height="575"  allowfullscreen></iframe>
        <% elsif @channels_top5[4].name == "Youtube" %>
          <iframe src="https://www.youtube.com/embed/<%= url_exp(@channels_top5[4].url, @channels_top5[4].name) %>?autoplay=1" frameborder="1" scrolling="no"  width="830" height="575" allowfullscreen></iframe>
        <% else %>
          <img src="<%= @channels_top5[4].url  %>" />
        <% end %>
      </li>
    </ul>
  </div>
</div>

<div class="clearfix"></div>

<div class="decoration_bar">
  <%= link_to image_tag("broadcast.png", size: "55x56", alt: "live stream", class: "live_image"), all_path %>
  <span class="live_words">Live Streaming</span>
  <%= link_to  "More", all_path, class: "all_channels" %>
</div>
<br>


<div class="row row_width">
  <% @channels.each do |c| %>
  <div class="col-xs-4">
      <div><%= link_to image_tag(c.url,size: "300x180",), c, target: "_blank" %></div>
      <% stream_channel = c.get_data_from_twitch(c.name) %>
      <% if c.name == "Youtube"%>
        <% if stream_channel["liveStreamingDetails"] != nil && stream_channel["liveStreamingDetails"]["concurrentViewers"] %>
          <p class="channel_name"><%= stream_channel["snippet"]["title"] %></p>
          <div><%= c.user.name %></div>
          <div>
            <div id="circle_live" style="display: inline-block;"></div>
            <div style="display: inline-block;">
              <span class="user_name"><%= c.name %> Live</span> <%= stream_channel["liveStreamingDetails"]["concurrentViewers"]%> 觀眾
            </div>
          </div>
          <br>
        <% end %>
      <% elsif c.name == "Twitch"%>
        <% if stream_channel %>
          <p class="channel_name"><%= stream_channel["game"] %></p>
          <div><%= c.user.name %></div>
          <div>
            <div id="circle_live" style="display: inline-block;"></div>
            <div style="display: inline-block;"><span class="user_name"><%= c.name %> Live </span><%= stream_channel["viewers"] %> 觀眾</div>
          </div>
          <br>
        <% end %>
      <% end %>
  </div>
  <% end %>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    $('.flexslider').flexslider({
      // animation: "slide"
      slideshow: false
      // controlNav: "thumbnails"
    });
  });
</script>
