<nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-center">
        <li><a href="#">關於我們</a></li> |
        <li><a href="#">直播主招募</a></li> |
        <li><a href="#">Q&A</a></li> |
        <li><a href="#">聯絡我們</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Hi <%= current_user.user_name %><span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><%= link_to "個人資料", user_cases_path(current_user)%></li>
                <li><%= link_to "推廣後台", menus_path%></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to('登出', destroy_user_session_path, :method => :delete) %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "註冊或登入", new_user_session_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>

<div class="row">
<div class="flexslider">
  <ul class="slides">
        <li>
          <img src="<%= @channel_test.url  %>" />
        </li>
        <li>
          <img src="<%= @channel_test.url  %>" />
        </li>
        <li>
          <img src="<%= @channel_test.url  %>" />
        </li>
        <li>
          <img src="<%= @channel_test.url  %>" />
        </li>
        <li>
          <img src="<%= @channel_test.url  %>" />
        </li>
  </ul>
</div>
</div>


<div class="row">
  <% @channels.each do |c| %>
  <div class="col-xs-4">
    <ul class="grid_double">
      <li>頻道: <%= c.name %></li>
      <li>直播主: <%= c.user.name %></li>
      <%= link_to image_tag(c.url,size: "300x180",), c, target: "_blank" %>
      <% stream_channel = c.get_data_from_twitch(c.name) %>
      <br>
      <% if c.name == "youtube"%>
        <% if stream_channel != nil && stream_channel["concurrentViewers"] %>
          <p>
            Youtube Live
          </p>
          <div>
            <div id="circle_live" style="display: inline-block;"></div>
            <div style="display: inline-block;">
              Live <%= stream_channel["concurrentViewers"]%> watching
            </div>
          </div>
        <% else  %>
          <p>Youtube Live</p>
          <div>
            <div id="circle_live" style="display: inline-block; background-color: white;"></div>
            <div style="display: inline-block;">Offline</div>
          </div>
        <% end %>
      <% elsif c.name == "twitch"%>
        <% if stream_channel %>
          <p>
            <%= stream_channel["game"] %>
          </p>
          <div>
            <div id="circle_live" style="display: inline-block;"></div>
            <div style="display: inline-block;">Live <%= stream_channel["viewers"] %> watching</div>
          </div>
        <% else  %>
          <p>Twitch Live</p>
          <div>
            <div id="circle_live" style="display: inline-block; background-color: white;"></div>
            <div style="display: inline-block;">Offline</div>
          </div>
        <% end %>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.flexslider').flexslider({
      animation: "slide"
    });
  });
</script>
