<%= render "shared/navbar" %>
<br>
<br>
<br>
<div class="spacing"></div>
<div class="container">
  <div class="row">
    <div class="clearfix"></div>
    <div class="spacing_large"></div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-2 col-md-push-6 form-media">
      <%= search_form_for @q do |f| %>
      <%= f.label :name_or_contents,"遊戲名或簡介", :class => "form-line" %>
      <%= f.search_field :name_or_contents_cont, :class => "form-control form_word form-line" %>
      <%= f.submit "Search", :class=>"btn btn-default form-line"%>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
      <ul class="nav nav-pills">
        <% Category.all.each do |c| %>
        <li role="presentation" class="<%= (params[:cid] == c.id.to_s)? "active" : "" %>">
          <%= link_to c.name, menus_path( :cid => c ) %>
        </li>
        <% end %>
        <li role="presentation" class="<%= (params[:cid] == nil)? "active" : "" %>">
          <%= link_to "全部遊戲", menus_path %>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <div class="spacing"></div>
    <table class="table">
      <tr>
        <th>遊戲圖片</th>
        <th>遊戲名稱</th>
        <th>遊戲類型</th>
        <th>截止推廣時間</th>
        <th>推廣獎勵模式</th>
        <th></th>
      </tr>
      <% @menus.order(:id => :desc).each do |menu| %>
      <tr>
        <td style="width:100px;"><div style="line-height:128px; min-height:128px;"><%= image_tag(menu.game_pic(:thumb)) %></div></td>
        <td style="width:100px;"><%= menu.name %></td>
        <td style="width:100px;"><%= menu.category.try(:name) %></td>
        <td><%= menu.try(:deadline) %></td>
        <td>
          <% if menu.promote?("cpc") %>
            <h4><span class="label label-success">CPC</span></h4>
          <% end %>
          <% if menu.promote?("cpi") %>
            <h4><span class="label label-primary">CPI</span></h4>
          <% end %>
          <% if menu.promote?("cpa") %>
            <h4><span class="label label-warning">CPA</span></h4>
          <% end %>
        </td>
        <td><%= link_to "我要推廣", new_menu_case_path(menu),:class => "btn btn-danger" %></td>
      </tr>
      <% end %>
    </table>
    <div class="clearfix"></div>
    <div class="row">
      <%= paginate @menus %> <br>
      <%= link_to "回到首頁", root_path, :class => "btn btn-default btn-customized" %>
      <%= link_to "我的推廣成效", user_cases_path(current_user), :class => "btn btn-default btn-customized" %>
      <%= link_to "我的推廣連結", user_cases_path(current_user), :class => "btn btn-default btn-customized" %>
    </div>
    <br>
  </div>
</div>
