<div class="container">
 <div class="row">
   <% if current_user %>
    <div class="col-xs-12">
      <% if current_user.fb_image %>
        <h2>Hi <%=image_tag(current_user.fb_image,:class => "img-circle") %></h2>
      <% elsif current_user.nickname%>
        <h2>Hi <%= current_user.nickname %></h2>
      <% else %>
        <h2>Hi <%= current_user.user_name %></h2>
      <% end %>
      <%= link_to "Profile", user_cases_path(current_user),:class => "btn btn-danger" %>
      <%= link_to('登出', destroy_user_session_path, :method => :delete,:class => "btn btn-success") %>
    </div>
    <%#= link_to('修改密碼', edit_registration_path(:user)) %>
    <div class="clearfix"></div>
    <div class="spacing"></div>
    <ul class="nav nav-pills">
      <div class="text-right form-inline">
        <%= search_form_for @q do |f| %>
          <%= f.label :name_or_contents,"遊戲名或簡介" %>
          <%= f.search_field :name_or_contents_cont, :class => "form-control form_word" %>
          <%= f.submit "Search", :class=>"btn btn-default"%>
      <% end %>
      </div>
      <% Category.all.each do |c| %>
        <li role="presentation" class="<%= (params[:cid] == c.id.to_s)? "active" : "" %>">
          <%= link_to c.name, menus_path( :cid => c ) %>
        </li>
      <% end %>
        <li role="presentation" class="<%= (params[:cid] == nil)? "active" : "" %>">
          <%= link_to "全部遊戲", menus_path %>
        </li>
    </ul>
    <div class="spacing"></div>
    <table class="table">
      <tr>
        <th>遊戲icon</th>
        <th>遊戲名稱</th>
        <th>遊戲類型</th>
        <th>遊戲簡介</th>
        <th></th>
      </tr>
      <% @menus.order(:id => :desc).each do |menu| %>
        <tr>
          <td style="width:100px"><%= image_tag(menu.game_icon(:thumb)) %></td>
          <td style="width:100px"><%= menu.name %></td>
          <td style="width:100px"><%= menu.category.name %></td>
          <td><%= menu.contents %></td>
          <td><%= link_to "我要推廣", new_menu_case_path(menu),:class => "btn btn-warning" %></td>
        </tr>
      <% end %>
    </table>
    <div class="clearfix"></div>
    <div class="row">
       <%= paginate @menus %> <br>
       <%= link_to "回到遊戲選單", root_path, :class => "btn btn-info" %>
    </div>
   <% else %>
    <h1>請先登入系統</h1>
    <%= link_to('註冊', new_registration_path(:user),:class => "btn btn-success") %> | <%= link_to('登入', new_session_path(:user),:class => "btn btn-default") %>
    <%= link_to "Facebook 登入", user_omniauth_authorize_path(:facebook),:class => "btn btn-primary" %>
    <% end %>
  </div>
</div>