<div class="container">
 <div class="row">
   <% if current_user %>

    <div class="col-xs-12">
      <% if current_user.fb_image %>
        <h2>Hi <%=image_tag(current_user.fb_image,:class => "img-circle") %></h2>
      <% elsif current_user.nickname%>
        <h2>Hi <%= current_user.nickname %></h2>
      <% else %>
        <h2>Hi <%= current_user.user_name %></h2>
      <% end %>
      <%= link_to "Profile", user_cases_path(current_user),:class => "btn btn-danger" %>
      <%= link_to('登出', destroy_user_session_path, :method => :delete,:class => "btn btn-success") %>
    </div>
    <%#= link_to('修改密碼', edit_registration_path(:user)) %>
    <% @menus.each do |menu| %>
      <div class="col-xs-4 text-center">
        <div class="box_height">
         <%= image_tag(menu.image,:width => 100) %> <br>
          遊戲名稱：<%= menu.name %> <br>
          遊戲內容大綱：<%= menu.contents %>
        </div>
        <div>
          <%= link_to "我要推廣", new_menu_case_path(menu),:class => "btn btn-warning" %>
        </div>
        <div class="spacing"></div>
      </div>
    <% end %>
    <div class="clearfix"></div>
    <div class="row">
       <%= paginate @menus %> <br>
       <%= link_to "回到遊戲選單", root_path, :class => "btn btn-info" %>
    </div>



   <% else %>
    <h1>請先登入系統</h1>
    <%= link_to('註冊', new_registration_path(:user),:class => "btn btn-success") %> | <%= link_to('登入', new_session_path(:user),:class => "btn btn-default") %>
    <%= link_to "Facebook 登入", user_omniauth_authorize_path(:facebook),:class => "btn btn-primary" %>
    <% end %>

  </div>
</div>