<div class="row">
  <h2 id="banner" class="text-center">
    <span class="recuit_header">
      盡情玩樂 <font color="#ff0000">綻</font><font color="#f4ff00">放</font>自我
    </span>
  </h2>
</div>
<div class="row col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
  <div class="paragraph">
    每天都能看到許多優質的台灣玩家在直播頻道展露頭角
    <br />
    但真正能從直播過程獲得利潤的人卻少之又少
    <br />
    <br />
    SteamCircle和國內外各大遊戲公司合作，將需要推廣的遊戲發佈在平台
    <br />
    直播主只須從中選擇想要推廣的遊戲，並取得自己的專屬連結
    <br />
    在直播過程中，每當粉絲點擊專屬連結，你就能收到廣告費！
    <br />
  </div>
</div>
<div class="clearfix"></div>
<br>
<br>

<div class="row">
  <div class="text-center col-xs-12 keyword">
    你只需要...
  </div>
</div>

<div class="row">
  <div class="paragraph text-center">
    <div class="recuit_block col-xs-12 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-2">
      <div><%= image_tag("signin.png", height: "195px", width: "195px", alt: "免費註冊,成為平台會員")%></div>
      <div class="recuit_block_words">
        <strong>免費註冊</strong></font><br>
        <strong>成為平台會員</strong>
      </div>
    </div>

    <div class="recuit_block col-xs-12 col-sm-4 col-md-2">
      <div><%= image_tag("choosegame.png", height: "195px", width: "195px", alt: "選擇遊戲,取的專屬連結", class: "square2circle")%></div>
      <div class="recuit_block_words">
          <strong>
            選擇喜歡的遊戲
            <br />
            取得專屬推廣連結
          </strong>
      </div>
    </div>

    <div class="recuit_block col-xs-12 col-sm-4 col-sm-offset-2 col-md-2 col-md-pull-2">
      <div><%= image_tag("playfans.png", height: "195px", width: "195px", alt: "和粉絲大玩特玩", class: "square2circle")%></div>
      <div class="recuit_block_words">
          <strong>
            將連結放在自己直播頻道
            <br />
            正常進行直播
          </strong>
      </div>
    </div>

    <div class="recuit_block col-xs-12 col-sm-4 col-md-2  col-md-pull-2">
      <div><%= image_tag("clickmoney.png", height: "195px", width: "195px", alt: "安裝遊戲獲取利潤", class: "square2circle")%></div>
      <div class="recuit_block_words">
          <strong>
            粉絲點擊連結或安裝遊戲
          <br />
            你就能獲取廣告利潤
          </strong>
      </div>
    </div>

  </div>
</div>
<br>
<br>

<div class="row">
  <div class="text-center col-xs-12 keyword">
    讓我們一起...
  </div>
</div>

<div class="row">
  <div class="paragraph text-center">

    <div class="recuit_block col-xs-12 col-md-3 col-md-offset-1_5">
      <div><%= image_tag("showpassion.png", height: "220px", width: "220px", alt: "展現熱情,分享自己", class: "square2circle")%></div>
      <div class="recuit_block_words"><font color="gainsboro" size="6">展現熱情</font></div>
      <div class="recuit_block_words"><font color="#506065" size="3">&#20197;&#29544;&#19968;&#28961;&#20108;
      &#30340;&#26041;&#24335;<br />&#21521;&#20840;&#19990;&#30028;&#20998;&#20139;&#30495;&#23526;&#30340;&#33258;&#24049;</font></div>
    </div>

    <div class="recuit_block col-xs-12 col-md-3">
      <div><%= image_tag("playmore.png", height: "220px", width: "220px", alt: "盡情玩樂", class: "square2circle")%></div>
      <div class="recuit_block_words"><font color="gainsboro" size="6">&#30433;&#24773;&#29609;&#27138;</font></div>
      <div class="recuit_block_words"><font color="#506065" size="3">&#27599;&#24180;&#26377;&#36229;&#36942;1000&#27454;&#36938;&#25138;&#19978;&#24066;
      <br />&#19981;&#24597;&#27794;&#24471;&#29609;&#65292;&#21482;&#24597;&#29609;&#19981;&#23436;&#65281;</font></div>
    </div>

    <div class="recuit_block col-xs-12 col-md-3">
      <div><%= image_tag("makevalue.png", height: "220px", width: "220px", alt: "創造價值", class: "square2circle")%></div>
      <div class="recuit_block_words"><font color="gainsboro" size="6">&#21109;&#36896;&#20729;&#20540;</font></div>
      <div class="recuit_block_words">
        <font color="#506065" size="3">
          只需一如往常地進行直播
          <br />
          就能賺進廣告費用
        </font>
      </div>
    </div>

  </div>
</div>
<br>
<br>

<div class="row text-center">
  <div class="col-xs-12">
    <%= link_to "立即加入", new_user_session_path, class: "btn-lg btn-default btn-custom btn-size" %>
  </div>
</div>
<br>
