<div class="container">
  <div class="row">
    <div class="spacing_large"></div>
    <div class="row">
      <div class="col-xs-6 grid edit_bar">
        <span class="text_center_for_grid"><h3>任務詳細報表</h3></span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 grid_small">任務名稱</div>
      <div class="col-xs-4 grid_small"><%= @case.menu.name %>(<%= @case.owner %>)</div>
    </div>
    <div class="row">
      <div class="col-xs-2 grid_small">報表區間</div>
      <div class="col-xs-4 grid_small">
        <% if @date %>
          <%= @date %>
        <% else  %>
          <%= @case.to_now? %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 grid_small">選擇區間</div>
      <div class="col-xs-4 grid_small">
        <%= form_tag case_report_user_case_path(current_user,@case), :method => :get do %>
        From <%= text_field_tag "date1",nil, class: "form-control-date"%> To <%= text_field_tag "date2",nil, class: "form-control-date"%>
        <%= submit_tag "Select", :class => "btn btn-default btn-sm" %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 grid_small">區間總獎金</div>
      <div class="col-xs-4 grid_small">$<%= @case.total_profit?("customer",@early_date,@late_date) %>元</div>
    </div>

    <div class="spacing_large"></div>

    <div class="row">
      <div class="col-xs-3 edit_bar grid text-center grid_border">
        <h3>點擊成效</h3>
      </div>
      <div class="col-xs-3 edit_bar grid text-center grid_border">
        <h3>安裝成效</h3>
      </div>
      <div class="col-xs-3 edit_bar grid text-center grid_border">
        <h3>執行成效</h3>
      </div>
      <div class="col-xs-3 edit_bar grid text-center grid_border">
        <h3>執行成效</h3>
      </div>
    </div>
    <br>

    <div class="row text-center">
      <div class="col-xs-3 grid_small">每點擊獎金</div>
      <div class="col-xs-3 grid_small">每安裝獎金</div>
      <div class="col-xs-3 grid_small">每執行獎金</div>
      <div class="col-xs-3 grid_small">每註冊獎金</div>
    </div>

    <div class="row text-center">
      <div class="col-xs-1 grid_small">Android</div>
      <div class="col-xs-2 grid_small">
        <% if @case.owner == "android" %>
          <%= @case.menu.cpc_android_user %>
        <% else %>
          na
        <% end %>
        元
      </div>
      <div class="col-xs-1 grid_small">Android</div>
      <div class="col-xs-2 grid_small">
        <% if @case.owner == "android" %>
          <%= @case.menu.cpi_android_user %>
        <% else %>
          na
        <% end %>
        元
      </div>
      <div class="col-xs-1 grid_small">Android</div>
      <div class="col-xs-2 grid_small">
        <% if @case.owner == "android" %>
          <%= @case.menu.cpa_android_user %>
        <% else %>
          na
        <% end %>
        元
      </div>
    <div class="col-xs-1 grid_small">Android</div>
    <div class="col-xs-2 grid_small">
      <% if @case.owner == "android" %>
        <%= @case.menu.cpl_android_user %>
      <% else %>
        na
      <% end %>
      元
    </div>
  </div>

    <div class="row text-center">
      <div class="col-xs-1 grid_small">IOS</div>
      <div class="col-xs-2 grid_small">
        <% if @case.owner == "ios" %>
          <%= @case.menu.cpc_ios_user %>
        <% else %>
          na
        <% end %>
        元
      </div>
      <div class="col-xs-1 grid_small">IOS</div>
      <div class="col-xs-2 grid_small">
        <% if @case.owner == "ios" %>
          <%= @case.menu.cpi_ios_user %>
        <% else %>
          na
        <% end %>
        元
      </div>
      <div class="col-xs-1 grid_small">IOS</div>
      <div class="col-xs-2 grid_small">
        <% if @case.owner == "ios" %>
          <%= @case.menu.cpa_ios_user %>
        <% else %>
          na
        <% end %>
        元
      </div>
      <div class="col-xs-1 grid_small">IOS</div>
      <div class="col-xs-2 grid_small">
        <% if @case.owner == "ios" %>
          <%= @case.menu.cpl_ios_user %>
        <% else %>
          na
        <% end %>
        元
      </div>
    </div>
    <br>

    <div class="row text-center">
      <div class="col-xs-3 grid_small">不重複點擊</div>
      <div class="col-xs-3 grid_small">不重複安裝</div>
      <div class="col-xs-3 grid_small">不重複執行</div>
      <div class="col-xs-3 grid_small">不重複註冊</div>
    </div>

    <div class="row text-center">
      <div class="col-xs-1 grid_small">Android</div>
      <div class="col-xs-2 grid_small">
        <% if @case.owner == "android" %>
          <%= @case.follower_by_date(@early_date,@late_date) %>
        <% else %>
          na
        <% end %>
        次
      </div>
      <div class="col-xs-1 grid_small">Android</div>
      <div class="col-xs-2 grid_small">
        <% if @case.owner == "android" %>
          <%= @case.installer_by_date(@early_date,@late_date) %>
        <% else %>
          na
        <% end %>
        次
      </div>
      <div class="col-xs-1 grid_small">Android</div>
      <div class="col-xs-2 grid_small">
        <% if @case.owner == "android" %>
          <%= @case.excuter_by_date(@early_date,@late_date) %>
        <% else %>
          na
        <% end %>
        次
      </div>
      <div class="col-xs-1 grid_small">Android</div>
      <div class="col-xs-2 grid_small">
        <% if @case.owner == "android" %>
          <%= @case.import_by_date(@early_date, @late_date) %>
        <% else %>
          na
        <% end %>
        次
      </div>
    </div>

    <div class="row text-center">
      <div class="col-xs-1 grid_small">IOS</div>
      <div class="col-xs-2 grid_small">
        <% if @case.owner == "ios" %>
          <%= @case.follower_by_date(@early_date,@late_date) %>
        <% else %>
          na
        <% end %>
        元
      </div>
      <div class="col-xs-1 grid_small">IOS</div>
      <div class="col-xs-2 grid_small">
        <% if @case.owner == "ios" %>
          <%= @case.installer_by_date(@early_date,@late_date) %>
        <% else %>
          na
        <% end %>
        元
      </div>
      <div class="col-xs-1 grid_small">IOS</div>
      <div class="col-xs-2 grid_small">
        <% if @case.owner == "ios" %>
          <%= @case.excuter_by_date(@early_date,@late_date) %>
        <% else %>
          na
        <% end %>
        元
      </div>
      <div class="col-xs-1 grid_small">IOS</div>
      <div class="col-xs-2 grid_small">
        <% if @case.owner == "ios" %>
          <%= @case.import_by_date(@early_date, @late_date) %>
        <% else %>
          na
        <% end %>
        元
      </div>
    </div>
    <br>

    <div class="row text-center">
      <div class="col-xs-3 grid_small">點擊成效獎金</div>
      <div class="col-xs-3 grid_small">安裝成效獎金</div>
      <div class="col-xs-3 grid_small">執行成效獎金</div>
      <div class="col-xs-3 grid_small">註冊成效獎金</div>
    </div>

    <div class="row text-center">
      <div class="col-xs-1 grid_small">Android</div>
      <div class="col-xs-2 grid_small">
        <% if @case.owner == "android" %>
          <%= @case.follower_by_date(@early_date,@late_date) * @case.menu.cpc_android_user  %>
        <% else %>
          na
        <% end %>
        次
      </div>
      <div class="col-xs-1 grid_small">Android</div>
      <div class="col-xs-2 grid_small">
        <% if @case.owner == "android" %>
          <%= @case.installer_by_date(@early_date,@late_date) * @case.menu.cpi_android_user  %>
        <% else %>
          na
        <% end %>
        次
      </div>
      <div class="col-xs-1 grid_small">Android</div>
      <div class="col-xs-2 grid_small">
        <% if @case.owner == "android" %>
          <%= @case.excuter_by_date(@early_date,@late_date) * @case.menu.cpa_android_user  %>
        <% else %>
          na
        <% end %>
        次
      </div>
      <div class="col-xs-1 grid_small">Android</div>
      <div class="col-xs-2 grid_small">
        <% if @case.owner == "android" %>
          <%= @case.import_by_date(@early_date,@late_date) * @case.menu.cpl_android_user  %>
        <% else %>
          na
        <% end %>
        次
      </div>
    </div>

    <div class="row text-center">
      <div class="col-xs-1 grid_small">IOS</div>
      <div class="col-xs-2 grid_small">
        <% if @case.owner == "ios" %>
          <%= @case.follower_by_date(@early_date,@late_date) * @case.menu.cpc_ios_user %>
        <% else %>
          na
        <% end %>
        元
      </div>
      <div class="col-xs-1 grid_small">IOS</div>
      <div class="col-xs-2 grid_small">
        <% if @case.owner == "ios" %>
          <%= @case.installer_by_date(@early_date,@late_date) * @case.menu.cpi_ios_user %>
        <% else %>
          na
        <% end %>
        元
      </div>
      <div class="col-xs-1 grid_small">IOS</div>
      <div class="col-xs-2 grid_small">
        <% if @case.owner == "ios" %>
          <%= @case.excuter_by_date(@early_date,@late_date) * @case.menu.cpa_ios_user %>
        <% else %>
          na
        <% end %>
        元
      </div>
      <div class="col-xs-1 grid_small">IOS</div>
      <div class="col-xs-2 grid_small">
        <% if @case.owner == "ios" %>
          <%= @case.import_by_date(@early_date,@late_date) * @case.menu.cpl_ios_user %>
        <% else %>
          na
        <% end %>
        元
      </div>
    </div>


    <div class="spacing"></div>
    <div class="col-xs-12">
      <%= link_to "返回成效獎勵", user_cases_path(current_user), :class => "btn btn-default btn-customized"  %>
    </div>

  </div>
</div>
</div>
</div>
<script type="text/javascript">
$('#date1').datepicker({
  format: "yyyy-mm-dd"
});
$('#date2').datepicker({
  format: "yyyy-mm-dd"
});

</script>
