<%= render "shared/navbar" %>
<br>
<br>
<br>
<div class="spacing_large"></div>
<div class="spacing"></div>
<div class="container">
  <div class="row">
    <div class="row">
      <div class="col-xs-8 text-left grid edit_bar">
        <span class="text_center_for_grid"><h3>成效總覽</h3></span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-1 grid_small"></div>
      <div class="col-xs-2 grid_small">點擊數</div>
      <div class="col-xs-2 grid_small">安裝數</div>
      <div class="col-xs-2 grid_small">執行數</div>
      <div class="col-xs-1 grid_small">獎金</div>
    </div>
    <div class="row">
      <div class="col-xs-1 grid_small">今日</div>
      <div class="col-xs-2 grid_small"></div>
      <div class="col-xs-2 grid_small"></div>
      <div class="col-xs-2 grid_small"></div>
      <div class="col-xs-1 grid_small"></div>
      <div class="col-xs-2 col-xs-offset-1">
        <%= link_to "返回推廣任務", menus_path, :class => "btn btn-default btn-customized" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-1 grid_small">昨日</div>
      <div class="col-xs-2 grid_small"></div>
      <div class="col-xs-2 grid_small"></div>
      <div class="col-xs-2 grid_small"></div>
      <div class="col-xs-1 grid_small"></div>
    </div>
    <div class="row">
      <div class="col-xs-1 grid_small">本月</div>
      <div class="col-xs-2 grid_small"></div>
      <div class="col-xs-2 grid_small"></div>
      <div class="col-xs-2 grid_small"></div>
      <div class="col-xs-1 grid_small"></div>
      <div class="col-xs-2 col-xs-offset-1">
        <%= link_to "獎金領取", "", :class => "btn btn-default btn-customized", :data => {:toggle=>"modal", :target => "#deposit_records"}  %>
      </div>
    </div>

    <div class="modal fade" id="deposit_records" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body text-center">
            <% if current_user.total_profit? == 0 %>
              <h2>您目前沒有待領款項</h2>
            <% elsif current_user.total_profit? >= 1 && current_user.total_profit? < 1000 %>
              <h2>總獎金累積達1000NT才可進行領取</h2>
            <% else %>
              <h2>請按確認進行獎金領取</h2>
            <% end %>
          </div>
          <div class="modal-footer">
            <% if current_user.total_profit? == 0 %>
              <button type="button" class="btn btn-primary" data-dismiss="modal">確認</button>
            <% else %>
              <%= link_to "確認", new_user_deposit_record_path(current_user), class: "btn btn-primary"  %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-xs-12 text-left grid edit_bar">
        <span class="text_center_for_grid"><h3>參與任務</h3></span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 grid grid_text">任務名稱</div>
      <div class="col-xs-1 grid grid_text">推廣截止</div>
      <div class="col-xs-4 grid grid_text">Android連結</div>
      <div class="col-xs-4 grid grid_text">IOS連結</div>
      <div class="col-xs-1 grid grid_text">獲得獎金</div>
    </div>
    <%# @menus.each do |m| %>
    <% @cases.each do |c| %>
    <div class="row">
      <div class="col-xs-2 grid grid_text">
        <div class="overflow_name">
          <%= link_to c.menu.name, case_report_user_case_path(current_user, c)%>
        </div>

      </div>
      <!-- <div class="col-xs-1 grid"><%#= link_to menu.name, case_report_user_case_path(current_user, c)%></div> -->
      <% if c.menu.deadline < Time.now %>
        <div class="col-xs-1 grid grid_text url_text">已過期</div>
      <% else %>
        <div class="col-xs-1 grid grid_text url_text"><%= c.menu.deadline %></div>
      <% end %>
      <% if c.owner == "android" %>
        <div class="col-xs-4 grid url_text"><%= c.case_url %></div>
      <% else %>
        <div class="col-xs-4 grid url_text">-</div>
      <!-- <div class="col-xs-4 grid url_text"><%= c.menu.case_url_with_user_and_owner(current_user, "android") %></div> -->
      <% end %>
      <% if c.owner == "ios" %>
        <div class="col-xs-4 grid url_text"><%= c.case_url %></div>
      <% else %>
        <div class="col-xs-4 grid url_text">-</div>
      <!-- <div class="col-xs-4 grid url_text"><%= c.menu.case_url_with_user_and_owner(current_user, "ios") %></div> -->
      <% end %>
      <div class="col-xs-1 grid grid_text">$<%= c.total_profit?("customer",c.created_at.to_date, c.menu.deadline) %></div>
    </div>
    <% end %>
    <%# end %>
    <div class="spacing"></div>
    <%= paginate @cases %>
    <div class="spacing_large"></div>
  </div>
</div>
