<div class="container">
  <div class="row">
  <h1>專屬連結列表</h1>
      <% if current_user.fb_image %>
        <h2><%=image_tag(current_user.fb_image,:class => "img-circle") %></h2>
      <% elsif current_user.nickname%>
        <h2><%= current_user.nickname %></h2>
      <% else %>
        <h2><%= current_user.user_name %></h2>
      <% end %>
  <table class="table table-striped">
    <tr>
      <th>Email</th>
      <th>姓名</th>
      <th>暱稱</th>
      <th>電話</th>
      <th>地址</th>
      <th>銀行行庫名稱</th>
      <th>銀行行庫代碼</th>
      <th>銀行帳號</th>
    </tr>

    <tr>
      <td><%= current_user.email %></td>
      <td><%= current_user.try(:name) %></td>
      <td><%= current_user.try(:nickname) %></td>
      <td><%= current_user.try(:phone) %></td>
      <td><%= current_user.try(:address) %></td>
      <td><%= current_user.try(:bank_name) %></td>
      <td><%= current_user.try(:bank_name_code) %></td>
      <td><%= current_user.try(:bank_account) %></td>
    </tr>
  </table>
  <div class="spacing_large"></div>

   <% @cases.each do |c| %>
    <ul>
      <li style="list-style-type:none">遊戲名稱：<%= c.menu.name %> (<%= c.owner %>)</li>
      <li style="list-style-type:none">專屬連結：<%= link_to "139.162.19.7"+c.case_url, c.case_url, :target => "_blank" %></li>
      <li style="list-style-type:none">粉絲人數：<%= c.case_followers.count %></li>

    </ul>
   <% end %>
   <%= link_to "回到遊戲頁面",root_path,:class => "btn btn-default" %>
   <%= link_to('修改密碼', edit_registration_path(:user), :class => "btn btn-warning") %>
   <%= link_to('修改個人資料', edit_user_path(current_user), :class => "btn btn-success") %>
 </div>
</div>