<%= render "shared/navbar" %>
<br><br><br>
<div class="container">
  <div class="row">
    <div class="regist_word">遊戲名稱：<%= @menu.name %></div>
    <div class="spacing"></div>
    <%= form_for @case,:url => menu_cases_path(@menu) do |f| %>
     <%= f.hidden_field :case_url%>
     <% if @menu.menu_url.blank? %>
     <% elsif already_created_link_by(current_user, @menu, "ios") %>
       <h3 style="color: red;">已建立IOS連結, 請到後台領取</h3>
       <%= link_to "我的連結", user_cases_path(current_user), class: "btn btn-primary" %>
     <% else %>
       <%= f.submit "建立專屬IOS連結", :class => "btn btn-primary" ,:name => "commit" %>
       <br>
     <% end %>
     <% if @menu.menu_url_ios.blank? %>
     <% elsif already_created_link_by(current_user, @menu, "android") %>
       <h3 style="color: red;">已建立Android連結, 請到後台領取</h3>
       <%= link_to "我的連結", user_cases_path(current_user), class: "btn btn-primary" %>
     <% else %>
       <%= f.submit "建立專屬Android連結", :class => "btn btn-primary",:name => "commit" %>
     <% end %>
    <% end %>
    <div class="spacing"></div>
    <div class="regist_word">遊戲簡介：</div>
    <%= @menu.contents %>
    <div class="spacing"></div>
    <div class="regist_word">官方android商店連結：</div>
    <%= @menu.menu_url %>
    <div class="spacing"></div>
    <div class="regist_word">官方蘋果商店連結：</div>
    <%= @menu.menu_url_ios %>
    <div class="spacing"></div>

    <div class="regist_word">遊戲icon：</div>
    <%= image_tag(@menu.game_icon(:thumb)) %>
    <div class="spacing"></div>
    <div class="regist_word">遊戲圖片：</div>
    <%= image_tag(@menu.game_pic(:small)) %>
    <%= image_tag(@menu.game_pic_2(:small)) %>
    <%= image_tag(@menu.game_pic_3(:small)) %>

    <div class="regist_word">遊戲圖片：</div>
    <%= image_tag(@menu.game_pic_4(:small)) %>
    <%= image_tag(@menu.game_pic_5(:small)) %>
    <div class="spacing"></div>

    <%= link_to "回到主頁面",root_path,:class => "btn btn-default" %>
    <%= link_to "回到推廣任務頁面",menus_path,:class => "btn btn-primary" %>
  </div>
</div>
