<div class="container">
  <div class="row">
    <% if current_user.fb_image %>
        <h2>Hi <%=image_tag(current_user.fb_image,:class => "img-circle") %></h2>
      <% elsif current_user.nickname%>
        <h2>Hi <%= current_user.nickname %></h2>
      <% else %>
        <h2>Hi <%= current_user.user_name %></h2>
    <% end %>
    <div class="regist_word">遊戲名稱：<%= @menu.name %></div>
    <div class="spacing"></div>
    <div class="regist_word">遊戲簡介：</div>
    <%= @menu.contents %>
    <div class="spacing"></div>
    <div class="regist_word">遊戲連結android：</div>
    <%= @menu.menu_url %>
    <div class="spacing"></div>
    <div class="regist_word">遊戲連結ios：</div>
    <%= @menu.menu_url_ios %>
    <div class="spacing"></div>
    <div class="regist_word">遊戲icon：</div>
    <%= image_tag(@menu.game_icon(:small)) %>
    <div class="spacing"></div>
         <%= form_for @case,:url => menu_cases_path(@menu) do |f| %>
          <%= f.hidden_field :case_url%>
          <%= f.hidden_field :owner, :value => "ios" %>
          <%= f.submit "建立專屬IOS連結", :class => "btn btn-primary" ,:name => "commit" %>
          <%= f.submit "建立專屬Android連結", :class => "btn btn-primary",:name => "commit" %>
         <% end %> <br>
          <%#= form_for @case,:url => menu_cases_path(@menu) do |f| %>
           <%#= f.hidden_field :case_url%>
           <%#= f.hidden_field :owner, :value => "andorid" %>
           <%#= f.submit "建立專屬Android連結", :class => "btn btn-primary" %>
          <%# end %>
        <%= link_to "回到遊戲頁面",root_path,:class => "btn btn-default" %>
        </div>
  </div>
</div>