<div class="container">
  <div class="row">
    <br>
    <%= form_for @user, :url => user_path(@user), :method => :patch do |f| %>
    <div class="col-xs-5 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-8 col-md-offset-2 text-left">
      <div class="row row_format">
        <div class="row">
          <h3 class="edit_bar">個人資料</h3>
        </div>
        <div class="row row_input">

          <div class="row user_row">
            <div class="col-xs-4">
              <%= f.label :email, "會員帳號" %>:
            </div>
            <div class="col-xs-8">
              <%= @user.email %>
              <%= f.hidden_field :email%>
            </div>
          </div>

          <div class="row user_row">
            <div class="col-xs-4">
              <%= f.label :name, "姓名" %>:
            </div>
            <div class="col-xs-8">
              <%= f.text_field :name, autofocus: true, :class => "form-control form_word" %>
            </div>
          </div>

          <div class="row user_row">
            <div class="col-xs-4">
              <%= f.label :nickname, "暱稱" %>:
            </div>
            <div class="col-xs-8">
              <%= f.text_field :nickname, autofocus: true, :class => "form-control form_word" %>
            </div>
          </div>

          <div class="row user_row">
            <div class="col-xs-4">
              <%= f.label :phone, "聯絡電話" %>:
            </div>
            <div class="col-xs-8">
              <%= f.text_field :phone, autofocus: true, :class => "form-control form_word" %>
            </div>
          </div>

          <div class="row user_row">
            <div class="col-xs-4">
              <%= f.label :address, "聯絡地址" %>:
            </div>
            <div class="col-xs-8">
              <%= f.text_area :address, autofocus: true, :class => "form-control form_word_address" %>
            </div>
          </div>

          <div class="row user_row">
            <div class="col-xs-4">
              <%= f.label :twitch_account_url, "Twitch網址" %>:
            </div>
            <div class="col-xs-8">
              <%= f.text_field :twitch_account_url, autofocus: true, :class => "form-control form_word_address" %>
              <div>
                範例: http://www.twitch.tv/yourchannel
              </div>
            </div>
          </div>

          <div class="row user_row">
            <div class="col-xs-4">
              <%= f.label :youtube_account_url, "Youtube網址" %>:
            </div>
            <div class="col-xs-8">
              <%= f.text_field :youtube_account_url, autofocus: true, :class => "form-control form_word_address" %>
              <div>
                範例: https://gaming.youtube.com/watch?v=yourchannel
              </div>
              <div>
                <%= link_to "新版youtube直播連結取得教學", "", :class => "btn btn-default btn-customized", :data => {:toggle=>"modal", :target => "#link_access"}  %>
              </div>
            </div>
          </div>
          <br>
        </div>
        <div class="row">
          <h3 class="edit_bar">取款資訊</h3>
        </div>

        <div class="row row_input">
          <div class="row user_row">
            <div class="col-xs-4">
              <%= f.label :bank_name, "銀行名稱" %>:
            </div>
            <div class="col-xs-8">
              <%= f.text_field :bank_name, autofocus: true, :class => "form-control form_word" %>
            </div>
          </div>

          <div class="row user_row">
            <div class="col-xs-4">
              <%= f.label :bank_name_code, "行庫代碼" %>:
            </div>
            <div class="col-xs-8">
              <%= f.text_field :bank_name_code, autofocus: true, :class => "form-control form_word" %>
            </div>
          </div>

          <div class="row user_row">
            <div class="col-xs-4">
              <%= f.label :bank_branch_name, "分行名稱" %>:
            </div>
            <div class="col-xs-8">
              <%= f.text_field :bank_branch_name, autofocus: true, :class => "form-control form_word" %>
            </div>
          </div>

          <div class="row user_row">
            <div class="col-xs-4">
              <%= f.label :bank_account, "銀行帳號" %>:
            </div>
            <div class="col-xs-8">
              <%= f.text_field :bank_account, autofocus: true, :class => "form-control form_word" %>
            </div>
          </div>
          <br>
          <div class="row btn_row">
            <div class="actions col-xs-3 col-xs-offset-2">
              <%= f.submit "送出修改", :class => "btn btn-default btn-customized" %>
            </div>
            <div class="actions col-xs-3">
              <%= link_to "返回推廣任務", menus_path, :class => "btn btn-default  btn-default-customized" %>
            </div>
            <div class="actions col-xs-3">
              <%= link_to "回到首頁",root_path,:class => "btn btn-default btn-default-customized" %>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <br>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="modal fade" id="link_access" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3>新版Youtube直播網址取得教學</h3>
      </div>
      <div class="modal-body">
        <div>
          <b>Step1.
          前往youtube網站（http://www.youtube.com）</b>
          <br>點擊右上方自己的帳號圖示，前往「創作者工作室」
          <div class="text-center"><%= image_tag("link_access_step1.jpg", alt: "前往創作者工作室")%></div>
        </div>
        <br><br>
        <div>
          <b>Step2.
          左側功能列點選「即時串流」</b>
          <div class="text-center"><%= image_tag("link_access_step2.jpg", alt: "左側即時串流")%></div>
        </div>
        <br><br>
        <div>
          <b>Step3.
          即時串流裡面找到「分享」的欄位</b>
          <br>
          將連結到設定成「Youtube遊戲」接著前往產出的連結
         （注意！該連結並非實際直播頁面網址）
          <div><%= image_tag("link_access_step3.jpg", width: "560px", height: "198px", alt: "分享設定成youtube遊戲,並前往該連結網址")%></div>
        </div>
        <br><br>
        <div>
          <b>Step4.
          點擊下方的「分享」按鈕（紅色框箭頭符號）</b>
          <div><%= image_tag("link_access_step4.jpg", width: "560px", height: "310px", alt: "點擊下方分享按鈕")%></div>
        </div>
        <br><br>
        <div>
          <b>Step5.
          此時產出的連結，才是您的真實youtube直播連結</b>
          <br>
         （後半段必定有/watch? 作為開頭）
          請複製此段連結，貼到StreamCircle個人資訊頁面
          <div class="text-center"><%= image_tag("link_access_step5.jpg", alt: "您的真實連結")%></div>
        </div>
      </div>
    </div>
  </div>
</div>
