<div class="container">
  <div class="row">
    <br>

    <div class="col-xs-5 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-8 col-md-offset-2 text-left">
      <div class="row row_format">

        <div class="row">
          <h3 class="edit_bar">獎金資料</h3>
        </div>

        <div class="row row_input">
          <div class="row user_row">
            <div class="col-xs-4">
              未領取獎金:
            </div>
            <div class="col-xs-8">
              <%= current_user.profit_money %>元
            </div>
          </div>

          <div class="row user_row">
            <div class="col-xs-4">
              已領取獎金:
            </div>
            <div class="col-xs-8">
              <%= current_user.withdraw? %>元
            </div>
          </div>

          <div class="row user_row">
            <div class="col-xs-4">
              總獎金
            </div>
            <div class="col-xs-8">
              <%= current_user.total_earn_money %>元
            </div>
          </div>

          <br>
        </div>
        <div class="row">
          <h3 class="edit_bar">取款資訊</h3>
        </div>
        <div id="modal_container"></div>
        <%= form_for @withdraw_record, :url => user_withdraw_records_path(current_user), :method => :post do |f| %>
        <% if @withdraw_record.errors.any? %>
          <% @key_store = [] %>
          <% @withdraw_record.errors.keys.each do |key| %>
            <% @key_store << key %>
          <% end %>
        <% end %>

        <div class="row row_input">
          <div class="row user_row">
            <div class="col-xs-4">
              <%= f.label :withdrawaler_name, "取款人姓名" %>
            </div>
            <div class="col-xs-8">
              <%= f.text_field :withdrawaler_name, autofocus: true, :class => "form-control form_word" %>
            </div>
          </div>

          <div class="row user_row">
            <div class="col-xs-4">
              <%= f.label :withdrawaler_phone, "取款人電話(手機10碼)" %>
            </div>
            <div class="col-xs-8">
              <%= f.text_field :withdrawaler_phone, autofocus: true, :class => "form-control form_word"%>
            </div>
          </div>

          <div class="row user_row">
            <div class="col-xs-4">
              <%= f.label :withdrawaler_bank_name, "銀行名稱" %>
            </div>
            <div class="col-xs-8">
              <%= f.text_field :withdrawaler_bank_name, autofocus: true, :class => "form-control form_word"%>
            </div>
          </div>

          <div class="row user_row">
            <div class="col-xs-4">
              <%= f.label :withdrawaler_bank_branch_name, "分行名稱" %>
            </div>
            <div class="col-xs-8">
              <%= f.text_field :withdrawaler_bank_branch_name, autofocus: true, :class => "form-control form_word"%>
            </div>
          </div>

          <div class="row user_row">
            <div class="col-xs-4">
              <%= f.label :withdrawaler_bank_name_code, "行庫代碼" %>
            </div>
            <div class="col-xs-8">
              <%= f.text_field :withdrawaler_bank_name_code, autofocus: true, :class => "form-control form_word" %>
            </div>
          </div>

          <div class="row user_row">
            <div class="col-xs-4">
              <%= f.label :withdrawaler_bank_account, "行庫帳戶" %>
            </div>
            <div class="col-xs-8">
              <%= f.text_field :withdrawaler_bank_account, autofocus: true, :class => "form-control form_word" %>
            </div>
          </div>

          <div class="row user_row">
            <div class="col-xs-4">
              <%= f.label :amount, "欲領取金額" %>
            </div>
            <div class="col-xs-8">
              <% if current_user.profit_money.to_i >= 1 && current_user.profit_money.to_i < 1000 %>
                <%= f.hidden_field :amount, :class => "form-control form_word" %>
                未領取獎金累積達1000 NT才可進行領取
              <% else %>
                <%= f.text_field :amount, autofocus: true, :class => "form-control form_word" %>
              <% end %>
            </div>
          </div>
          <div class="spacing"></div>
          <div id="error" class="text-center"></div>

          <div class="row user_row">
            <div class="col-xs-2 col-sm-2 col-sm-offset-1">
              <%= link_to "回到推廣成效",user_cases_path(current_user), :class => "btn btn-default btn-customized" %>
            </div>

            <div class="col-xs-7 col-xs-offset-1 col-sm-6 col-sm-offset-1">
              <% if current_user.profit_money.to_i < 1000 %>
                <%= link_to "確認送出","", :class => "btn btn-customized", :disabled => "disabled" %>
                <span class="hightlight">未達1000元, 不能領取</span>
              <% else %>
                <%#= f.submit "確認送出", :class => "btn btn-default btn-customized"%>
                <%= link_to "確認送出","", :class => "btn btn-default btn-customized", :data => {:toggle=>"modal", :target => "#withdrawal_money"}  %>
              <% end %>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="spacing"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="withdrawal_money" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-left">
        <h3>
          取款需求送出後，我們將在次月15日發放至您指定銀行帳戶，如有任何問題，歡迎隨時和<%= link_to "我們聯絡", qa_path, target: "_blank"  %>
        </h3>
      </div>
      <div class="modal-footer">
        <%#= link_to "確認",user_cases_path(current_user), class: "btn btn-default btn-customized" %>
        <%= f.submit "確認", :class => "btn btn-default btn-customized" %>
      </div>
    </div>
  </div>
</div>
<% end %>
<script>
<% if @withdraw_record.errors.any? %>
  $('#error').empty();
  $('#error').append('請確認資料是否漏填或不符格式');
  <% @key_store.each do |column_name| %>
    $("#withdraw_record_<%= column_name %>").css({"box-shadow":"0 0 5px crimson","border":"1px solid crimson"})
    <%= Rails.logger.info(column_name) %>
    <% if column_name.to_s == "amount" %>
      $('#error').empty();
      $('#error').append('每次領取獎金必須大於1000');
    <% end %>
  <% end %>
<% end %>
</script>
