<div class="container">
  <div class="row">
    <p id="notice">
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
    </p>

    <h1>粉絲管理後台</h1>
      <div class="spacing"></div>
     <div class="text-right form-inline">
        <%#= search_form_for @q do |f| %>
          <%#= f.label :email_of_uid_cont,"Email or UID" %>
          <%#= f.search_field :email_or_uid_cont, :class => "form-control form_word" %>
          <%#= f.submit "Search", :class=>"btn btn-default"%>
      <%# end %>
      </div>
      <div class="spacing"></div>
    <table class ="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Name</th>
          <th>Nickname</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @admin_users.each do |admin_user| %>
          <tr class= <%= admin_user.role %>>
            <td><%= admin_user.id %></td>
            <td><%= admin_user.email %></td>
            <td><%= admin_user.name %></td>
            <td><%= admin_user.nickname %></td>
            <td>
              <%= link_to '粉絲詳細', admin_user,:class => "btn btn-warning" %>
              <%= link_to '編輯', edit_admin_user_path(admin_user), :class => "btn btn-info" %>
              <%= link_to '刪除粉絲', admin_user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
              <% if admin_user.role == nil || admin_user.role == "normal" %>
                <%= link_to "停權", suspend_admin_user_path(admin_user),:method => :post,  :class => "btn btn-suspend" %>
              <% elsif admin_user.role == "suspend" %>
                <%= link_to "復權", restore_admin_user_path(admin_user),:method => :post, :class => "btn btn-restore" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @admin_users %>
    <br>
    <%= link_to "使用者管理", admin_users_path, :class => "btn btn-primary" %>
    <%= link_to "紛絲垃圾桶", trashcan_fans_admin_users_path, :class => "btn btn-danger" %>



  </div>
</div>
