<div class="container">
  <div class="row">
    <p id="notice">
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
    </p>

    <h1>使用者管理後台</h1>
      <div class="spacing"></div>
     <div class="text-right form-inline">
        <%= search_form_for @q do |f| %>
          <%= f.label :email_of_uid_cont,"Email or UID" %>
          <%= f.search_field :email_or_uid_cont, :class => "form-control form_word" %>
          <%= f.submit "Search", :class=>"btn btn-default"%>
      <% end %>
      </div>
      <div class="spacing"></div>
    <table class ="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Name</th>
          <th>Nickname</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Bank name</th>
          <th>Bank name code</th>
          <th>Bank account</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @admin_users.each do |admin_user| %>
          <tr class= <%= admin_user.role %>>
            <td><%= admin_user.id %></td>
            <td><%= admin_user.email %></td>
            <td><%= admin_user.name %></td>
            <td><%= admin_user.nickname %></td>
            <td><%= admin_user.phone %></td>
            <td><%= admin_user.address %></td>
            <td><%= admin_user.bank_name %></td>
            <td><%= admin_user.bank_name_code %></td>
            <td><%= admin_user.bank_account %></td>
            <td>
              <%= link_to '使用者詳細', admin_user,:class => "btn btn-warning" %>
              <%= link_to '編輯', edit_admin_user_path(admin_user), :class => "btn btn-info" %>
              <%= link_to '刪除使用者', admin_user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
              <% if admin_user.role == nil || admin_user.role == "normal" %>
                <%= link_to "停權", suspend_user_path(admin_user),:method => :post,  :class => "btn btn-suspend" %>
              <% elsif admin_user.role == "suspend" %>
                <%= link_to "復權", restore_user_path(admin_user),:method => :post, :class => "btn btn-restore" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @admin_users %>
    <br>
    <%= link_to "遊戲上架後台", admin_menus_path, :class => "btn btn-success" %>
    <%= link_to "使用者垃圾桶", trashcan_admin_users_path, :method => :post,  :class => "btn btn-danger" %>
    <%= link_to "註冊報表", regist_admin_users_path, :class => "btn btn-default" %>



  </div>
</div>