<p id="notice"><%= notice %></p>

<h1>Listing Admin Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Nickname</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Bank account</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_users.each do |admin_user| %>
      <tr>
        <td><%= admin_user.email %></td>
        <td><%= admin_user.name %></td>
        <td><%= admin_user.nickname %></td>
        <td><%= admin_user.phone %></td>
        <td><%= admin_user.address %></td>
        <td><%= admin_user.bank_account %></td>
        <td><%= link_to 'Show', admin_user %></td>
        <td><%= link_to 'Edit', edit_admin_user_path(admin_user) %></td>
        <td><%= link_to 'Destroy', admin_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_admin_user_path %>
