<div class="container">
  <div class="row">
    <p id="notice">
        <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
    </p>
    <h1>User Details</h1>
    <p>
      <strong>Email:</strong>
      <%= @admin_user.email %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @admin_user.name %>
    </p>

    <p>
      <strong>Nickname:</strong>
      <%= @admin_user.nickname %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @admin_user.phone %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @admin_user.address %>
    </p>

    <p>
      <strong>Bank Name:</strong>
      <%= @admin_user.bank_name %>
    </p>

    <p>
      <strong>Bank Name Code:</strong>
      <%= @admin_user.bank_name_code %>
    </p>

    <p>
      <strong>Bank account:</strong>
      <%= @admin_user.bank_account %>
    </p>

    <p>
      <strong>User case followers:</strong>
      <% @admin_user.cases.each do |c| %>
        <ul>
          <li>遊戲名稱：<%= c.menu.name %></li>
          <li>
            遊戲粉絲：<% c.case_followers.each do |follower| %>
            <%= follower.user.user_name %>
            <% end %>

          </li>
        </ul>
        <% end %>
    </p>

    <%= link_to '編輯', edit_admin_user_path(@admin_user),:class => "btn btn-primary" %>
    <%= link_to '管理使用者頁面', admin_users_path, :class => "btn btn-default" %></div>
</div>