<div class="container_fluid" style="background-color:aliceblue;">
  <div class="row">
    <div class="container">
      <div class="row">
        <p id="notice">
            <% if flash[:notice] %>
            <%= flash[:notice] %>
          <% end %>
        </p>
        <h1>User Details</h1>

        <div class="row">
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid">會員帳號</span>
          </div>
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid"><%= @admin_user.email %></span>
          </div>

          <div class="col-xs-2 text-left grid col-xs-offset-4">
            <span class="text_center_for_grid">會員電話</span>
          </div>
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid"><%= @admin_user.phone %></span>
          </div>

          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid">會員類別</span>
          </div>
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid">ＳＵＣＫ</span>
          </div>

          <div class="col-xs-2 text-left grid col-xs-offset-4">
            <span class="text_center_for_grid">會員地址</span>
          </div>
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid"><%= @admin_user.address %></span>
          </div>

           <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid">會員姓名</span>
          </div>
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid"><%= @admin_user.name %></span>
          </div>

          <div class="col-xs-2 text-left grid col-xs-offset-4">
            <span class="text_center_for_grid">銀行行庫代碼</span>
          </div>
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid"><%= @admin_user.bank_name_code %></span>
          </div>

          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid">銀行行庫名稱</span>
          </div>
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid"><%= @admin_user.bank_name %></span>
          </div>

          <div class="col-xs-2 text-left grid col-xs-offset-4">
            <span class="text_center_for_grid">銀行代碼</span>
          </div>
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid"><%= @admin_user.bank_account %></span>
          </div>
        </div>

        <div class="spacing_large"></div>

        <div class="row">
         <div class="col-xs-2 text-center grid">
          <span class="text_center_for_grid">總獲利</span>
         </div>
         <div class="col-xs-2 text-center grid col-xs-offset-3">
          <span class="text_center_for_grid">已領款</span>
         </div>
         <div class="col-xs-2 text-center grid col-xs-offset-3">
          <span class="text_center_for_grid">未領款</span>
         </div>
         <div class="col-xs-2 text-center grid">
          <span class="text_center_for_grid">
            <% profit = 0 %>
            <% @cases_for_profit.each do |c| %>
              <% profit = profit + c.total_profit?("customer",c.created_at.to_date,c.menu.deadline) %>

            <% end %>
            $<%#= profit %>
          </span>
         </div>
         <div class="col-xs-2 text-center grid col-xs-offset-3">
          <span class="text_center_for_grid">
            $<%= @admin_user.withdraw? %>
          </span>
         </div>
         <div class="col-xs-2 text-center grid col-xs-offset-3">
          <span class="text_center_for_grid">
            $<%#= profit - @admin_user.withdraw? %>
          </span>
         </div>
        </div>

        <div class="spacing_large"></div>
        <div class="row">
          <h3>參與案件</h3>
        <table class="table table-bordered">

          <tr>
            <th>案件名稱</th>
            <th>案件不重複點擊數</th>
            <th>案件不重複安裝數</th>
            <th>案件不重複執行數</th>
            <th>案件不重複註冊數</th>
            <th>案件獲利</th>
          </tr>
         <% @cases.each do |c| %>
          <tr>
            <td><%= link_to c.menu.name, admin_user_case_path(@admin_user, c),:class => "label label-primary" %> (<%= c.owner %>)</td>
            <td><%= c.case_followers.count %></td>
            <td>none</td>
            <td>none</td>
            <td><%= c.import_by_date(c.created_at.to_date, Date.today) %></td>
            <td><%= c.total_profit?("admin",c.created_at.to_date,Date.today) %></td>
          </tr>

          <% end %>
        </table>
        <%= paginate @cases %>
        </div>


        <%= link_to '編輯', edit_admin_user_path(@admin_user),:class => "btn btn-primary" %>
        <%= link_to '管理使用者頁面', admin_users_path, :class => "btn btn-default" %>


        </div>
    </div>
  </div>
</div>
