<div class="container_fluid" style="background-color:lightyellow;">
  <div class="row">
    <div class="container">
      <div class="row">
      <h1>使用者案件獲利日報表</h1>
      <div class="spacing_large"></div>
        <div class="row">
          <div class="col-xs-2 text-left grid  col-xs-offset-2">
            <span class="text_center_for_grid">案件名稱</span>
          </div>
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid"><%= @case.menu.name %>(<%= @case.owner %>)</span>
          </div>
          <div class="col-xs-2 text-left grid col-xs-offset-2">
            <span class="text_center_for_grid">本日獲利</span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2 text-left grid col-xs-offset-2">
            <span class="text_center_for_grid">報表日期</span>
          </div>
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid"><%= @date %></span>
          </div>
          <div class="col-xs-2 text-left grid col-xs-offset-2">
            <span class="text_center_for_grid"></span>
          </div>
        </div>
        <div class="spacing_large"></div>

        <div class="row text-center grid_double">
          <div class="col-xs-4 grid">
            <span class="text_center_for_grid">點擊</span>
          </div>
          <div class="col-xs-4 grid">
            <span class="text_center_for_grid">安裝</span>
          </div>
          <div class="col-xs-4 grid">
            <span class="text_center_for_grid">執行</span>
          </div>
          <div class="col-xs-4 grid">
            <span class="text_center_for_grid">日不重複點擊</span>
          </div>
          <div class="col-xs-4 grid">
            <span class="text_center_for_grid">日不重複安裝</span>
          </div>
          <div class="col-xs-4 grid">
            <span class="text_center_for_grid">日不重複執行</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">Android</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">
              <% if @case.owner == "android" %>
                <%= @case.case_followers_day?(@date) %>
              <% else %>
                0
              <% end %>
            </span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">Android</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">Android</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">IOS</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">
              <% if @case.owner == "ios" %>
                <%= @case.case_followers_day?(@date) %>
              <% else %>
                0
              <% end %>
            </span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">IOS</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">IOS</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-4 grid">
            <span class="text_center_for_grid">日點擊數</span>
          </div>
          <div class="col-xs-4 grid">
            <span class="text_center_for_grid">日安裝數</span>
          </div>
          <div class="col-xs-4 grid">
            <span class="text_center_for_grid">日執行數</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">Android</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">
              <% if @case.owner == "android" %>
                <%= @case.total_click_day?(@date) %>
              <% else %>
                0
              <% end %>
            </span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">Android</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">Android</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">IOS</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">
             <% if @case.owner == "ios" %>
                <%= @case.total_click_day?(@date) %>
             <% else %>
                0
             <% end %>
            </span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">IOS</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">IOS</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>

          <div class="col-xs-4 grid">
            <span class="text_center_for_grid">點擊拆帳比例</span>
          </div>
          <div class="col-xs-4 grid">
            <span class="text_center_for_grid">安裝拆帳比例</span>
          </div>
          <div class="col-xs-4 grid">
            <span class="text_center_for_grid">執行拆帳比例</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">Android</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">Android</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">Android</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">IOS</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">IOS</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">IOS</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-4 grid">
            <span class="text_center_for_grid">日點擊獲利</span>
          </div>
          <div class="col-xs-4 grid">
            <span class="text_center_for_grid">日安裝獲利</span>
          </div>
          <div class="col-xs-4 grid">
            <span class="text_center_for_grid">日執行獲利</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">Android</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">Android</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">Android</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">IOS</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">IOS</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">IOS</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
        </div>

        <div class="spacing"></div>
        <%= link_to "使用者獲利總報表", admin_user_case_path(@user,@case), :class => "btn btn-primary"  %>
      </div>
    </div>
  </div>
</div>