<div class="container_fluid" style="background-color:lightyellow;">
  <div class="row">
    <div class="container">
      <div class="row">
      <h1>案件獲利總報表</h1>
      <div class="spacing_large"></div>
        <div class="row">
          <div class="col-xs-2 text-left grid  col-xs-offset-2">
            <span class="text_center_for_grid">案件名稱</span>
          </div>
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid"><%= @case.menu.name %>(<%= @case.owner %>)</span>
          </div>
          <div class="col-xs-2 text-left grid col-xs-offset-2">
            <span class="text_center_for_grid">本日獲利</span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2 text-left grid col-xs-offset-2">
            <span class="text_center_for_grid">報表日期</span>
          </div>
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid"><%= @case.to_now? %></span>
          </div>
          <div class="col-xs-2 text-left grid col-xs-offset-2">
            <span class="text_center_for_grid"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2 text-left grid col-xs-offset-2">
            <span class="text_center_for_grid">選擇日期</span>
          </div>
          <div class="col-xs-2 text-center grid">
           <%= form_tag day_report_admin_user_case_path(@user,@case), :method => :get do %>
            <%= text_field_tag "date",nil, class: "form-control"%>
            <%= submit_tag "Select", :class => "btn btn-default" %>
           <% end %>
          </div>
        </div>
        <div class="spacing_large"></div>

        <div class="row text-center grid_double">
          <div class="col-xs-4 grid">
            <span class="text_center_for_grid">點擊</span>
          </div>
          <div class="col-xs-4 grid">
            <span class="text_center_for_grid">安裝</span>
          </div>
          <div class="col-xs-4 grid">
            <span class="text_center_for_grid">執行</span>
          </div>
          <div class="col-xs-4 grid">
            <span class="text_center_for_grid">不重複點擊</span>
          </div>
          <div class="col-xs-4 grid">
            <span class="text_center_for_grid">不重複安裝</span>
          </div>
          <div class="col-xs-4 grid">
            <span class="text_center_for_grid">不重複執行</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">Android</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">
              <% if @case.owner == "android" %>
                <%= @case.case_followers.count %>
              <% else %>
                0
              <% end %>
            </span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">Android</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">Android</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">IOS</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">
              <% if @case.owner == "ios" %>
                <%= @case.case_followers.count %>
              <% else %>
                0
              <% end %>
            </span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">IOS</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">IOS</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-4 grid">
            <span class="text_center_for_grid">總點擊數</span>
          </div>
          <div class="col-xs-4 grid">
            <span class="text_center_for_grid">總安裝數</span>
          </div>
          <div class="col-xs-4 grid">
            <span class="text_center_for_grid">總執行數</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">Android</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">
              <% if @case.owner == "android" %>
                <%= @case.total_click? %>
              <% else %>
                0
              <% end %>
            </span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">Android</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">Android</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">IOS</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">
             <% if @case.owner == "ios" %>
                <%= @case.total_click? %>
             <% else %>
                0
             <% end %>
            </span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">IOS</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">IOS</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>

          <div class="col-xs-4 grid">
            <span class="text_center_for_grid">點擊拆帳比例</span>
          </div>
          <div class="col-xs-4 grid">
            <span class="text_center_for_grid">安裝拆帳比例</span>
          </div>
          <div class="col-xs-4 grid">
            <span class="text_center_for_grid">執行拆帳比例</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">Android</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">Android</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">Android</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">IOS</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">IOS</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">IOS</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-4 grid">
            <span class="text_center_for_grid">點擊總獲利</span>
          </div>
          <div class="col-xs-4 grid">
            <span class="text_center_for_grid">安裝總獲利</span>
          </div>
          <div class="col-xs-4 grid">
            <span class="text_center_for_grid">執行總獲利</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">Android</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">Android</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">Android</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">IOS</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">IOS</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid">IOS</span>
          </div>
          <div class="col-xs-2 grid">
            <span class="text_center_for_grid"></span>
          </div>
        </div>

        <div class="spacing"></div>
        <%= link_to "回使用者頁面", admin_user_path(@user), :class => "btn btn-primary"  %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#date').datepicker({
     format: "yyyy-mm-dd"
  });

</script>