<%= form_for(@admin_menu) do |f| %>
  <% if @admin_menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_menu.errors.count, "error") %> prohibited this admin_menu from being saved:</h2>

      <ul>
      <% @admin_menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_image %><br>
    <%= f.file_field :game_image %>
  </div>
  <div class="field">
    <%= f.label :game_image %><br>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {} , :class => "form-control form_word")%>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class =>"form-control form_word" %>
  </div>
  <div class="field">
    <%= f.label :contents %><br>
    <%= f.text_area :contents, :class => "form-control form_word" %>
  </div>
  <div class="field">
    <%= f.label :menu_url %><br>
    <%= f.text_field :menu_url, :class => "form-control form_word"  %>
  </div>
  <div class="field">
    <%= f.label :menu_url_ios %><br>
    <%= f.text_field :menu_url_ios, :class => "form-control form_word"  %>
  </div>
  <div class="field">
    <%= f.label :game_pic %><br>
    <%= f.file_field :game_pic %>
  </div>
  <div class="field">
    <%= f.label :game_pic_2 %><br>
    <%= f.file_field :game_pic_2 %>
  </div>
  <div class="field">
    <%= f.label :game_pic_3 %><br>
    <%= f.file_field :game_pic_3 %>
  </div>
  <div class="field">
    <%= f.label :game_pic_4 %><br>
    <%= f.file_field :game_pic_4 %>
  </div>
  <div class="field">
    <%= f.label :game_pic_5 %><br>
    <%= f.file_field :game_pic_5 %>
  </div>
  <div class="field">
    <%= f.label :game_icon %><br>
    <%= f.file_field :game_icon %>
  </div>
  <div class="spacing"></div>
  <div class="action">
    <%= f.submit "新增或更新", :class => "btn btn-success"%>
  </div>
<% end %>
