<%= form_for(@admin_menu) do |f| %>
  <% if @admin_menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_menu.errors.count, "error") %> prohibited this admin_menu from being saved:</h2>

      <ul>
      <% @admin_menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_upload_time %><br>
    <%= Time.now.strftime("%Y-%m-%d %I:%M %p") %>
  </div>
  <div class="field">
    <%= f.label :game_category %><br>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {} , :class => "form-control form_word")%>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class =>"form-control form_word" %>
  </div>
  <div class="field">
    <%= f.label :contents %><br>
    <%= f.text_area :contents, :class => "form-control form_word" %>
  </div>
  <div class="field">
    <%= f.label :menu_url %><br>
    <%= f.text_field :menu_url, :class => "form-control form_word"  %>
  </div>
  <div class="field" id="menu_menu_url">
    <%= f.label :menu_url_ios %><br>
    <%= f.text_field :menu_url_ios, :class => "form-control form_word"  %>
  </div>
  <div class="field form_inline">
    <%= f.label :cpc_android, "CPC_Android" %><br>
    <%= f.text_field :cpc_android, :class =>"form-control form_word_small"  %>
    <%= f.label :cpc_android_user, "CPC_Android_for_user" %>
    <%= f.text_field :cpc_android_user, :class =>"form-control form_word_small"  %>
  </div>
  <div class="field">
    <%= f.label :cpi_android, "CPI_Android" %><br>
    <%= f.text_field :cpi_android, :class =>"form-control form_word_small"  %>
    <%= f.label :cpi_android_user, "CPI_Android_for_user" %><br>
    <%= f.text_field :cpi_android_user, :class =>"form-control form_word_small"  %>
  </div>
  <div class="field">
    <%= f.label :cpa_android, "CPA_Android" %><br>
    <%= f.text_field :cpa_android, :class =>"form-control form_word_small"  %>
    <%= f.label :cpa_android_user, "CPA_Android_for_user" %><br>
    <%= f.text_field :cpa_android_user, :class =>"form-control form_word_small"  %>
  </div>
  <div class="field">
    <%= f.label :cpc_ios, "CPC_IOS" %><br>
    <%= f.text_field :cpc_ios, :class =>"form-control form_word_small"  %>
    <%= f.label :cpc_ios_user, "CPC_IOS_for_user" %><br>
    <%= f.text_field :cpc_ios_user, :class =>"form-control form_word_small"  %>
  </div>
  <div class="field">
    <%= f.label :cpi_ios, "CPI_IOS" %><br>
    <%= f.text_field :cpi_ios, :class =>"form-control form_word_small"  %>
    <%= f.label :cpi_ios_user, "CPI_IOS_for_user" %><br>
    <%= f.text_field :cpi_ios_user, :class =>"form-control form_word_small"  %>
  </div>
  <div class="field">
    <%= f.label :cpa_ios, "CPA_IOS" %><br>
    <%= f.text_field :cpa_ios, :class =>"form-control form_word_small"  %>
    <%= f.label :cpa_ios_user, "CPA_IOS_for_user" %><br>
    <%= f.text_field :cpa_ios_user, :class =>"form-control form_word_small"  %>
  </div>
  <div class="field">
    <%= f.label :dateline %><br>
    <%= f.text_field :deadline, :id => "deadline",:class => "form-control form_word" %>
  </div>
  <div class="field">
    <%= f.label :game_pic %><br>
    <%= image_tag(@menu.game_pic(:thumb)) %>
    <% if @menu.game_pic.exists? %>
    <%= f.check_box "_remove_pic" %>  Remove Pic
    <% end %>
    <%= f.file_field :game_pic %>

  </div>
  <div class="field">
    <%= f.label :game_pic_2 %><br>
    <%= image_tag(@menu.game_pic_2(:thumb)) %>
    <% if @menu.game_pic_2.exists? %>
    <%= f.check_box "_remove_pic_2" %>  Remove Pic
    <% end %>
    <%= f.file_field :game_pic_2 %>
  </div>
  <div class="field">
    <%= f.label :game_pic_3 %><br>
    <%= image_tag(@menu.game_pic_3(:thumb)) %>
    <% if @menu.game_pic_3.exists? %>
    <%= f.check_box "_remove_pic_3" %>  Remove Pic
    <% end %>
    <%= f.file_field :game_pic_3 %>
  </div>
  <div class="field">
    <%= f.label :game_pic_4 %><br>
    <%= image_tag(@menu.game_pic_4(:thumb)) %>
    <% if @menu.game_pic_4.exists? %>
    <%= f.check_box "_remove_pic_4" %>  Remove Pic
    <% end %>
    <%= f.file_field :game_pic_4 %>
  </div>
  <div class="field">
    <%= f.label :game_pic_5 %><br>
    <%= image_tag(@menu.game_pic_5(:thumb)) %>
    <% if @menu.game_pic_5.exists? %>
    <%= f.check_box "_remove_pic_5" %>  Remove Pic
    <% end %>
    <%= f.file_field :game_pic_5 %>
  </div>
  <div class="field">
    <%= f.label :game_pic_6 %><br>
    <%= image_tag(@menu.game_image(:thumb)) %>
    <% if @menu.game_image.exists? %>
    <%= f.check_box "_remove_pic_6" %>  Remove Pic
    <% end %>
    <%= f.file_field :game_image %>
  </div>
  <div class="field">
    <%= f.label :game_icon %><br>
    <%= image_tag(@menu.game_icon(:thumb)) %>
    <% if @menu.game_icon.exists? %>
    <%= f.check_box "_remove_icon" %>  Remove Pic
    <% end %>
    <%= f.file_field :game_icon %>
  </div>

  <div class="spacing"></div>
  <div class="action">
    <%= f.submit "新增或更新", :class => "btn btn-success"%>
  </div>
<% end %>


<script type="text/javascript">
  $('#deadline').datepicker({
     format: "yyyy-mm-dd"
  });

</script>
