<div class="container_fluid" style="background-color:azure">
  <div class="row">
  <h1><%= @error %></h1>
    <div class="container">
      <div class="row">
      <h1>單一案件總報表</h1>
      <div class="spacing_large"></div>
        <div class="row">
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid">案件名稱</span>
          </div>
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid"><%= @admin_menu.name %></span>
          </div>
          <div class="col-xs-2 text-left grid col-xs-offset-2">
            <span class="text_center_for_grid">案件推廣區間</span>
          </div>
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid">
              <%= @admin_menu.created_at.to_date...@admin_menu.deadline %>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid">日期區間</span>
          </div>
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid">
              <% if @date %>
                <%= @date %>
              <% else %>
                <%= Date.today %>
              <% end %>
            </span>

          </div>
          <div class="col-xs-2 text-left grid col-xs-offset-2">
            <span class="text_center_for_grid">參與會員數</span>
          </div>
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid">
                <%= @admin_menu.followers?("total",@early_date,@late_date) %>
            </span>
          </div>
          <div class="spacing_large"></div>
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid">選取時間</span>
          </div>
          <div class="col-xs-2 text-center grid">
            <%= form_tag day_report_admin_menu_path(@admin_menu), :method => :get do %>
             From <%= text_field_tag "date1",nil, class: "form-control"%>
             To <%= text_field_tag "date2",nil, class: "form-control"%><br>
             <%= submit_tag "Select", :class => "btn btn-default" %>
            <% end %>
          </div>
        </div>


        <div class="spacing_large"></div>
          <div class="row text-center">
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">點擊</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">安裝</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">執行</span>
              </div>
              <div class="col-xs-2 grid col-xs-offset-1">
                <span class="text_center_for_grid">案件總營業額</span><br>
                <span class="text_center_for_grid">(*default累計至deadline)</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">每次點擊價格(CPC)</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">每次安裝價格(CPI)</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">每次每次執行價格(CPA)</span>
              </div>
              <div class="col-xs-2 grid col-xs-offset-1">
                <span class="text_center_for_grid">
                  <% if @date %>
                    <%= @admin_menu.total_profit?(@early_date,@late_date) %>
                  <% else  %>
                    <%= @admin_menu.total_profit?(@admin_menu.created_at.to_date,@admin_menu.deadline) %>
                  <% end %>

                </span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid">$<%= @admin_menu.cpc_android %></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid">$<%= @admin_menu.cpi_android %></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid">$<%= @admin_menu.cpa_android %></span>
              </div>

              <div class="col-xs-3" style="min-height:40px;">
                <span class="text_center_for_grid"></span>
              </div>

              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid">$<%= @admin_menu.cpc_ios %></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid">$<%= @admin_menu.cpi_android %></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid">$<%= @admin_menu.cpa_android %></span>
              </div>

              <div class="col-xs-3" style="min-height:40px;">
                <span class="text_center_for_grid"></span>
              </div>

              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">不重複點擊數</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">不重複安裝數</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">不重複執行數</span>
              </div>

              <div class="col-xs-2 grid col-xs-offset-1">
                <span class="text_center_for_grid">案件總成本</span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"><%= @admin_menu.followers?("android",@early_date,@late_date) %></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-2 grid col-xs-offset-1">
                <span class="text_center_for_grid"></span>
              </div>

              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"><%= @admin_menu.followers?("ios",@early_date,@late_date) %></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>

              <div class="col-xs-3" style="min-height:40px;">
                <span class="text_center_for_grid"></span>
              </div>

              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">總點擊數</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">總安裝數</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">總執行數</span>
              </div>
              <div class="col-xs-3" style="min-height:40px;">
                <span class="text_center_for_grid"></span>
              </div>

              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid">
                  <%= @admin_menu.total_click?("android",@early_date,@late_date) %>
                </span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-2 grid col-xs-offset-1">
                <span class="text_center_for_grid">案件總淨利</span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid">
                  <%= @admin_menu.total_click?("ios",@early_date,@late_date) %>
                </span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-2 grid col-xs-offset-1">
                <span class="text_center_for_grid">
                  $<%= @admin_menu.total_net_profit?(@early_date,@late_date) %>
                </span>
              </div>

              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">點擊總營業額</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">安裝總營業額</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">執行總營業額</span>
              </div>
              <div class="col-xs-3" style="min-height:40px;">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid">
                  $<%= total_profit_android =  @admin_menu.total_click?("android",@early_date,@late_date) * @admin_menu.cpc_android %>
                </span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-3" style="min-height:40px;">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid">
                  $<%= total_profit_ios = @admin_menu.total_click?("ios",@early_date,@late_date) * @admin_menu.cpc_ios %>
                </span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-3" style="min-height:40px;">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">點擊支付金額</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">安裝支付金額</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">執行支付金額</span>
              </div>
              <div class="col-xs-3" style="min-height:40px;">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid">
                  $<%= @admin_menu.cpc_android_user %>
                </span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid">
                  $<%= @admin_menu.cpi_android_user %>
                </span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid">
                  $<%= @admin_menu.cpa_android_user %>
                </span>
              </div>
              <div class="col-xs-3" style="min-height:40px;">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid">
                  $<%= @admin_menu.cpc_ios_user %>
                </span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid">
                  $<%= @admin_menu.cpi_ios_user %>
                </span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid">
                  $<%= @admin_menu.cpa_ios_user %>
                </span>
              </div>
              <div class="col-xs-3" style="min-height:40px;">
                <span class="text_center_for_grid"></span>
              </div>

              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">點擊總成本</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">安裝總成本</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">執行總成本</span>
              </div>
              <div class="col-xs-3" style="min-height:40px;">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid">
                  $<%= total_paid_android = @admin_menu.followers?("android",@early_date,@late_date) * @admin_menu.cpc_android_user %>
                </span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-3" style="min-height:40px;">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid">
                  $<%= total_paid_ios = @admin_menu.followers?("ios",@early_date,@late_date) * @admin_menu.cpc_ios_user %>
                </span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-3" style="min-height:40px;">
                <span class="text_center_for_grid"></span>
              </div>

              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">點擊總淨利</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">安裝總淨利</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">執行總淨利</span>
              </div>
              <div class="col-xs-3" style="min-height:40px;">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid">$<%= total_profit_android - total_paid_android %></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-3" style="min-height:40px;">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid">$<%= total_profit_ios - total_paid_ios %></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>




            </div>

        <div class="spacing"></div>
        <%= link_to "回總報告", total_report_admin_menus_path,:class => "btn btn-primary "%>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#date1').datepicker({
     format: "yyyy-mm-dd"
  });
  $('#date2').datepicker({
     format: "yyyy-mm-dd"
  });
</script>
