<div class="container_fluid" style="background-color:azure">
  <div class="row">
  <h1><%= @error %></h1>
    <div class="container">
      <div class="row">
      <h1>案件總報表</h1>
      <div class="spacing_large"></div>
        <div class="row">
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid">案件名稱</span>
          </div>
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid"><%= @admin_menu.name %></span>
          </div>
          <div class="col-xs-2 text-left grid col-xs-offset-2">
            <span class="text_center_for_grid">日參與會員數</span>
          </div>
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid">
              <%= @admin_menu.followers_day?("total",@date) %>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid">日期</span>
          </div>
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid">
              <%= @date %>
            </span>

          </div>
          <div class="col-xs-2 text-left grid col-xs-offset-2">
            <span class="text_center_for_grid">總註冊會員數</span>
          </div>
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid"><%= Admin::User.all.count %></span>
          </div>
        </div>

        <div class="spacing_large"></div>
          <div class="row text-center">
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">日點擊</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">日安裝</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">日執行</span>
              </div>
              <div class="col-xs-2 grid col-xs-offset-1">
                <span class="text_center_for_grid">案件日營業額</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">日不重複點擊</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">日不重複安裝</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">日不重複執行</span>
              </div>
              <div class="col-xs-2 grid col-xs-offset-1">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"><%= @admin_menu.followers_day?("android",@date) %></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>

              <div class="col-xs-3" style="min-height:40px;">
                <span class="text_center_for_grid"></span>
              </div>

              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"><%= @admin_menu.followers_day?("ios",@date) %></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>

              <div class="col-xs-3" style="min-height:40px;">
                <span class="text_center_for_grid"></span>
              </div>

              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">日總點擊數</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">日總安裝數</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">日總執行數</span>
              </div>

              <div class="col-xs-2 grid col-xs-offset-1">
                <span class="text_center_for_grid">案件日成本</span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"><%= @admin_menu.total_click_day?("android",@date) %></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-2 grid col-xs-offset-1">
                <span class="text_center_for_grid"></span>
              </div>

              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"><%= @admin_menu.total_click_day?("ios",@date) %></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>

              <div class="col-xs-3" style="min-height:40px;">
                <span class="text_center_for_grid"></span>
              </div>

              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">點擊日營業額</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">安裝日營業額</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">執行日營業額</span>
              </div>
              <div class="col-xs-3" style="min-height:40px;">
                <span class="text_center_for_grid"></span>
              </div>

              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"><%= @admin_menu.followers?("android") * @admin_menu.cpc_android %></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-2 grid col-xs-offset-1">
                <span class="text_center_for_grid">案件日淨利</span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"><%= @admin_menu.followers?("ios") * @admin_menu.cpc_ios %></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-2 grid col-xs-offset-1">
                <span class="text_center_for_grid"></span>
              </div>

              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">點擊拆帳比例</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">安裝拆帳比例</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">執行拆帳比例</span>
              </div>
              <div class="col-xs-3" style="min-height:40px;">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-3" style="min-height:40px;">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-3" style="min-height:40px;">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">點擊日成本</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">安裝日成本</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">執行日成本</span>
              </div>
              <div class="col-xs-3" style="min-height:40px;">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-3" style="min-height:40px;">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-3" style="min-height:40px;">
                <span class="text_center_for_grid"></span>
              </div>

              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">點擊日淨利</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">安裝日淨利</span>
              </div>
              <div class="col-xs-3 grid">
                <span class="text_center_for_grid">執行日淨利</span>
              </div>
              <div class="col-xs-3" style="min-height:40px;">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">Android</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-3" style="min-height:40px;">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>
              <div class="col-xs-1 grid">
                <span class="text_center_for_grid">IOS</span>
              </div>
              <div class="col-xs-2 grid">
                <span class="text_center_for_grid"></span>
              </div>

            </div>

        <div class="spacing"></div>
        <%= link_to "回總報告", total_report_admin_menu_path(@admin_menu ),:class => "btn btn-primary "%>
      </div>
    </div>
  </div>
</div>