<div class="container_fluid" style="background-color:azure">
  <div class="row">
  <h1><%= @error %></h1>
    <div class="container">
      <div class="row">
      <h1>單一案件總報表</h1>
      <div class="spacing_large"></div>
        <div class="row">
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid">案件名稱</span>
          </div>
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid"><%= @admin_menu.name %></span>
          </div>
          <div class="col-xs-2 text-left grid col-xs-offset-2">
            <span class="text_center_for_grid">案件推廣區間</span>
          </div>
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid">
              <%= @admin_menu.created_at.to_date...@admin_menu.deadline %>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid">日期區間</span>
          </div>
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid">
              <% if @date %>
                <%= @date %>
              <% else %>
                <%= Date.today %>
              <% end %>
            </span>

          </div>
          <div class="col-xs-2 text-left grid col-xs-offset-2">
            <span class="text_center_for_grid">參與會員數</span>
          </div>
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid">
                <%= @admin_menu.followers?("total",@early_date,@late_date) %>
            </span>
          </div>
          <div class="spacing_large"></div>
          <div class="col-xs-2 text-left grid">
            <span class="text_center_for_grid">選取時間</span>
          </div>
          <div class="col-xs-2 text-center grid">
            <%= form_tag day_report_admin_menu_path(@admin_menu), :method => :get do %>
             From <%= text_field_tag "date1",nil, class: "form-control"%>
             To <%= text_field_tag "date2",nil, class: "form-control"%><br>
             <%= submit_tag "Select", :class => "btn btn-default" %>
            <% end %>
          </div>
          <div class="col-xs-2 col-xs-offset-2  grid">
            平台總營業額
          </div>
          <div class="col-xs-2 grid">
            <%= @admin_menu.total_profit?(@early_date,@late_date) %>
          </div>
          <div class="col-xs-2 col-xs-offset-2  grid">
            平台不重複營業額
          </div>
          <div class="col-xs-2 grid">
            <%= @admin_menu.total_profit_no_repeat?(@early_date,@late_date)%>
          </div>
          <div class="col-xs-2 col-xs-offset-2  grid">
            總推廣成本
          </div>
          <div class="col-xs-2 grid">
            <%= @admin_menu.total_cost?(@early_date,@late_date)%>
          </div>
          <div class="col-xs-2 col-xs-offset-2  grid">
            不重複推廣成本
          </div>
          <div class="col-xs-2 grid">
            <%= @admin_menu.total_cost_no_repeat?(@early_date,@late_date)%>
          </div>
          <div class="col-xs-2 col-xs-offset-2  grid">
            案件總淨利
          </div>
          <div class="col-xs-2 grid">
            <%= @admin_menu.total_net_profit?(@early_date,@late_date)%>
          </div>
          <div class="col-xs-2 col-xs-offset-6  grid">
            案件不重複淨利
          </div>
          <div class="col-xs-2 grid">
            <%= @admin_menu.total_net_profit_no_repeat?(@early_date,@late_date)%>
          </div>
          <div class="col-xs-2 col-xs-offset-6  grid">
            案件默認淨利
          </div>
          <div class="col-xs-2 grid">
            <%= @admin_menu.total_net_profit_default?(@early_date,@late_date)%>
          </div>
        </div>
        <div class="spacing_large"></div>

              <div class="row text-center">
                  <div class="col-xs-3 col-xs-offset-1">
                    <span class="text_center_for_grid grid_title">點擊</span>
                  </div>
                  <div class="col-xs-3">
                    <span class="text_center_for_grid grid_title">安裝</span>
                  </div>
                  <div class="col-xs-3">
                    <span class="text_center_for_grid grid_title">執行</span>
                  </div>
              </div>
              <div class="row text-center">
                <div class="col-xs-3 grid  col-xs-offset-1">
                  <span class="text_center_for_grid">平台CPC</span>
                </div>
                <div class="col-xs-3 grid">
                  <span class="text_center_for_grid">平台CPI</span>
                </div>
                <div class="col-xs-3 grid">
                  <span class="text_center_for_grid">平台CPA</span>
                </div>
                <div class="col-xs-2" style="min-height:40px;">
                  <span class="text_center_for_grid"></span>
                </div>
                <div class="col-xs-1 grid  col-xs-offset-1">
                  <span class="text_center_for_grid">Android</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">$<%= @admin_menu.cpc_android %></span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">Android</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">$<%= @admin_menu.cpi_android %></span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">Android</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">$<%= @admin_menu.cpa_android %></span>
                </div>

                <div class="col-xs-2" style="min-height:40px;">
                  <span class="text_center_for_grid"></span>
                </div>
                <div class="col-xs-1 grid col-xs-offset-1">
                  <span class="text_center_for_grid">IOS</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">$<%= @admin_menu.cpc_ios %></span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">IOS</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">$<%= @admin_menu.cpi_android %></span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">IOS</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">$<%= @admin_menu.cpa_android %></span>
                </div>
                <div class="col-xs-2" style="min-height:40px;">
                  <span class="text_center_for_grid"></span>
                </div>

                <div class="col-xs-1 table_header">
                  <span class="text_center_for_grid">定價</span>
                </div>
                <div class="col-xs-3 grid">
                  <span class="text_center_for_grid">推廣CPC</span>
                </div>
                <div class="col-xs-3 grid">
                  <span class="text_center_for_grid">推廣CPI</span>
                </div>
                <div class="col-xs-3 grid">
                  <span class="text_center_for_grid">推廣CPA</span>
                </div>
                <div class="col-xs-2" style="min-height:40px;">
                  <span class="text_center_for_grid"></span>
                </div>
                <div class="col-xs-1 grid  col-xs-offset-1">
                  <span class="text_center_for_grid">Android</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">$<%= @admin_menu.cpc_android_user %></span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">Android</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">$<%= @admin_menu.cpi_android_user %></span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">Android</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">$<%= @admin_menu.cpa_android_user %></span>
                </div>

                <div class="col-xs-2" style="min-height:40px;">
                  <span class="text_center_for_grid"></span>
                </div>

                <div class="col-xs-1 grid col-xs-offset-1">
                  <span class="text_center_for_grid">IOS</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">$<%= @admin_menu.cpc_ios_user %></span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">IOS</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">$<%= @admin_menu.cpi_ios_user %></span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">IOS</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">$<%= @admin_menu.cpa_ios_user %></span>
                </div>
              </div>
              <div class="spacing_large"></div>

              <div class="row text-center">
                <div class="col-xs-3 grid  col-xs-offset-1">
                  <span class="text_center_for_grid">總點擊數</span>
                </div>
                <div class="col-xs-3 grid">
                  <span class="text_center_for_grid">總安裝數</span>
                </div>
                <div class="col-xs-3 grid">
                  <span class="text_center_for_grid">總執行數</span>
                </div>
                <div class="col-xs-2" style="min-height:40px;">
                  <span class="text_center_for_grid"></span>
                </div>
                <div class="col-xs-1 grid  col-xs-offset-1">
                  <span class="text_center_for_grid">Android</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    <%= android_clicks = @admin_menu.total_click?("android",@early_date,@late_date) %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">Android</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    <%= android_installs = @admin_menu.total_install?("android",@early_date,@late_date) %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">Android</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    <%= android_excutes = @admin_menu.total_install?("android",@early_date,@late_date) %>
                  </span>
                </div>

                <div class="col-xs-2" style="min-height:40px;">
                  <span class="text_center_for_grid"></span>
                </div>
                <div class="col-xs-1 grid col-xs-offset-1">
                  <span class="text_center_for_grid">IOS</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    <%= ios_clicks = @admin_menu.total_click?("ios",@early_date,@late_date) %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">IOS</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    <%= ios_installs = @admin_menu.total_install?("ios",@early_date,@late_date) %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">IOS</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    <%= ios_excutes = @admin_menu.total_excute?("ios",@early_date,@late_date) %>
                  </span>
                </div>
                <div class="col-xs-2" style="min-height:40px;">
                  <span class="text_center_for_grid"></span>
                </div>

                <div class="col-xs-1 table_header">
                  <span class="text_center_for_grid">推廣成效</span>
                </div>
                <div class="col-xs-3 grid">
                  <span class="text_center_for_grid">不重複點擊</span>
                </div>
                <div class="col-xs-3 grid">
                  <span class="text_center_for_grid">不重複安裝</span>
                </div>
                <div class="col-xs-3 grid">
                  <span class="text_center_for_grid">不重複執行</span>
                </div>
                <div class="col-xs-2" style="min-height:40px;">
                  <span class="text_center_for_grid"></span>
                </div>
                <div class="col-xs-1 grid  col-xs-offset-1">
                  <span class="text_center_for_grid">Android</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    <%= android_clicks_no_repeat = @admin_menu.followers?("android",@early_date,@late_date) %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">Android</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    <%= android_installs_no_repeat = @admin_menu.total_install?("android",@early_date,@late_date) %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">Android</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    <%= android_excutes_no_repeat = @admin_menu.total_excute?("android",@early_date,@late_date) %>
                  </span>
                </div>

                <div class="col-xs-2" style="min-height:40px;">
                  <span class="text_center_for_grid"></span>
                </div>

                <div class="col-xs-1 grid col-xs-offset-1">
                  <span class="text_center_for_grid">IOS</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    <%= ios_clicks_no_repeat = @admin_menu.followers?("ios",@early_date,@late_date) %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">IOS</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    <%= ios_installs_no_repeat = @admin_menu.total_install?("ios",@early_date,@late_date) %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">IOS</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    <%= ios_excutes_no_repeat = @admin_menu.total_excute?("ios",@early_date,@late_date) %>
                  </span>
                </div>
              </div>
              <div class="spacing_large"></div>

              <div class="row text-center">
                <div class="col-xs-3 grid  col-xs-offset-1">
                  <span class="text_center_for_grid">總點擊平台營業額</span>
                </div>
                <div class="col-xs-3 grid">
                  <span class="text_center_for_grid">總安裝平台營業額</span>
                </div>
                <div class="col-xs-3 grid">
                  <span class="text_center_for_grid">總執行平台營業額</span>
                </div>
                <div class="col-xs-2" style="min-height:40px;">
                  <span class="text_center_for_grid"></span>
                </div>
                <div class="col-xs-1 grid  col-xs-offset-1">
                  <span class="text_center_for_grid">Android</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpc_profit_android = android_clicks * @admin_menu.cpc_android %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">Android</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpi_profit_android = android_installs * @admin_menu.cpi_android %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">Android</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpa_profit_android = android_excutes * @admin_menu.cpa_android %>
                  </span>
                </div>

                <div class="col-xs-2" style="min-height:40px;">
                  <span class="text_center_for_grid"></span>
                </div>
                <div class="col-xs-1 grid col-xs-offset-1">
                  <span class="text_center_for_grid">IOS</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpc_profit_ios = ios_clicks * @admin_menu.cpc_ios %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">IOS</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpi_profit_ios = ios_installs * @admin_menu.cpi_ios %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">IOS</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpa_profit_ios = ios_excutes * @admin_menu.cpa_ios %>
                  </span>
                </div>
                <div class="col-xs-2" style="min-height:40px;">
                  <span class="text_center_for_grid"></span>
                </div>

                <div class="col-xs-1 table_header_small">
                  <span class="text_center_for_grid">平台營業額</span>
                </div>
                <div class="col-xs-3 grid">
                  <span class="text_center_for_grid">不重複點擊平台營業額</span>
                </div>
                <div class="col-xs-3 grid">
                  <span class="text_center_for_grid">不重複安裝平台營業額</span>
                </div>
                <div class="col-xs-3 grid">
                  <span class="text_center_for_grid">不重複執行平台營業額</span>
                </div>
                <div class="col-xs-2" style="min-height:40px;">
                  <span class="text_center_for_grid"></span>
                </div>
                <div class="col-xs-1 grid  col-xs-offset-1">
                  <span class="text_center_for_grid">Android</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpc_profit_anroid_no_repeat = android_clicks_no_repeat * @admin_menu.cpc_android %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">Android</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpi_profit_anroid_no_repeat = android_installs_no_repeat * @admin_menu.cpi_android %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">Android</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpa_profit_anroid_no_repeat = android_excutes_no_repeat * @admin_menu.cpa_android %>
                  </span>
                </div>

                <div class="col-xs-2" style="min-height:40px;">
                  <span class="text_center_for_grid"></span>
                </div>

                <div class="col-xs-1 grid col-xs-offset-1">
                  <span class="text_center_for_grid">IOS</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpc_profit_ios_no_repeat = ios_clicks_no_repeat * @admin_menu.cpc_ios %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">IOS</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpi_profit_ios_no_repeat = ios_installs_no_repeat * @admin_menu.cpi_ios %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">IOS</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpa_profit_ios_no_repeat = ios_excutes_no_repeat * @admin_menu.cpa_ios %>
                  </span>
                </div>
              </div>
              <div class="spacing_large"></div>

              <div class="row text-center">
                <div class="col-xs-3 grid  col-xs-offset-1">
                  <span class="text_center_for_grid">總點擊推廣成本</span>
                </div>
                <div class="col-xs-3 grid">
                  <span class="text_center_for_grid">總安裝推廣成本</span>
                </div>
                <div class="col-xs-3 grid">
                  <span class="text_center_for_grid">總執行推廣成本</span>
                </div>
                <div class="col-xs-2" style="min-height:40px;">
                  <span class="text_center_for_grid"></span>
                </div>
                <div class="col-xs-1 grid  col-xs-offset-1">
                  <span class="text_center_for_grid">Android</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpc_cost_android = android_clicks * @admin_menu.cpc_android_user %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">Android</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpi_cost_android = android_installs * @admin_menu.cpi_android_user %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">Android</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpa_cost_android = android_excutes * @admin_menu.cpa_android_user %>
                  </span>
                </div>

                <div class="col-xs-2" style="min-height:40px;">
                  <span class="text_center_for_grid"></span>
                </div>
                <div class="col-xs-1 grid col-xs-offset-1">
                  <span class="text_center_for_grid">IOS</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpc_cost_ios = ios_clicks * @admin_menu.cpc_ios_user %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">IOS</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpi_cost_ios = ios_installs * @admin_menu.cpi_ios_user %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">IOS</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpa_cost_ios = ios_excutes * @admin_menu.cpa_ios_user %>
                  </span>
                </div>
                <div class="col-xs-2" style="min-height:40px;">
                  <span class="text_center_for_grid"></span>
                </div>

                <div class="col-xs-1 table_header">
                  <span class="text_center_for_grid">推廣成本</span>
                </div>
                <div class="col-xs-3 grid">
                  <span class="text_center_for_grid">不重複點擊推廣成本</span>
                </div>
                <div class="col-xs-3 grid">
                  <span class="text_center_for_grid">不重複安裝推廣成本</span>
                </div>
                <div class="col-xs-3 grid">
                  <span class="text_center_for_grid">不重複執行推廣成本</span>
                </div>
                <div class="col-xs-2" style="min-height:40px;">
                  <span class="text_center_for_grid"></span>
                </div>
                <div class="col-xs-1 grid  col-xs-offset-1">
                  <span class="text_center_for_grid">Android</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpc_cost_android_no_repeat = android_clicks_no_repeat * @admin_menu.cpc_android_user %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">Android</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpi_cost_android_no_repeat = android_installs_no_repeat * @admin_menu.cpi_android_user %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">Android</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpa_cost_android_no_repeat = android_excutes_no_repeat * @admin_menu.cpa_android_user %>
                  </span>
                </div>

                <div class="col-xs-2" style="min-height:40px;">
                  <span class="text_center_for_grid"></span>
                </div>

                <div class="col-xs-1 grid col-xs-offset-1">
                  <span class="text_center_for_grid">IOS</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpc_cost_ios_no_repeat = ios_clicks_no_repeat * @admin_menu.cpc_ios_user %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">IOS</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpi_cost_ios_no_repeat = ios_installs_no_repeat * @admin_menu.cpi_ios_user %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">IOS</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpa_cost_ios_no_repeat = ios_excutes_no_repeat * @admin_menu.cpa_ios_user %>
                  </span>
                </div>
              </div>
              <div class="spacing_large"></div>

              <div class="row text-center">
                <div class="col-xs-3 grid  col-xs-offset-1">
                  <span class="text_center_for_grid">總點擊平台淨利</span>
                </div>
                <div class="col-xs-3 grid">
                  <span class="text_center_for_grid">總安裝平台淨利</span>
                </div>
                <div class="col-xs-3 grid">
                  <span class="text_center_for_grid">總執行平台淨利</span>
                </div>
                <div class="col-xs-2" style="min-height:40px;">
                  <span class="text_center_for_grid"></span>
                </div>
                <div class="col-xs-1 grid  col-xs-offset-1">
                  <span class="text_center_for_grid">Android</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpc_profit_android - cpc_cost_android  %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">Android</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpi_profit_android - cpi_cost_android  %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">Android</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpa_profit_android - cpa_cost_android  %>
                  </span>
                </div>

                <div class="col-xs-2" style="min-height:40px;">
                  <span class="text_center_for_grid"></span>
                </div>
                <div class="col-xs-1 grid col-xs-offset-1">
                  <span class="text_center_for_grid">IOS</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpc_profit_ios - cpc_cost_ios %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">IOS</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpi_profit_ios - cpi_cost_ios %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">IOS</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpa_profit_ios - cpa_cost_ios %>
                  </span>
                </div>
                <div class="col-xs-2" style="min-height:40px;">
                  <span class="text_center_for_grid"></span>
                </div>

                <div class="col-xs-1 table_header">
                  <span class="text_center_for_grid">平台淨利</span>
                </div>
                <div class="col-xs-3 grid">
                  <span class="text_center_for_grid">不重複點擊平台淨利</span>
                </div>
                <div class="col-xs-3 grid">
                  <span class="text_center_for_grid">不重複安裝平台淨利</span>
                </div>
                <div class="col-xs-3 grid">
                  <span class="text_center_for_grid">不重複執行平台淨利</span>
                </div>
                <div class="col-xs-2" style="min-height:40px;">
                  <span class="text_center_for_grid"></span>
                </div>
                <div class="col-xs-1 grid  col-xs-offset-1">
                  <span class="text_center_for_grid">Android</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpc_profit_anroid_no_repeat - cpc_cost_android_no_repeat %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">Android</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpi_profit_anroid_no_repeat - cpi_cost_android_no_repeat %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">Android</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpa_profit_anroid_no_repeat - cpa_cost_android_no_repeat %>
                  </span>
                </div>

                <div class="col-xs-2" style="min-height:40px;">
                  <span class="text_center_for_grid"></span>
                </div>

                <div class="col-xs-1 grid col-xs-offset-1">
                  <span class="text_center_for_grid">IOS</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpc_profit_ios_no_repeat - cpc_cost_ios_no_repeat %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">IOS</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpi_profit_ios_no_repeat - cpi_cost_ios_no_repeat %>
                  </span>
                </div>
                <div class="col-xs-1 grid">
                  <span class="text_center_for_grid">IOS</span>
                </div>
                <div class="col-xs-2 grid">
                  <span class="text_center_for_grid">
                    $<%= cpa_profit_ios_no_repeat - cpa_cost_ios_no_repeat %>
                  </span>
                </div>
              </div>
              <div class="spacing_large"></div>



            <!-- </div> -->

        <div class="spacing"></div>
        <%= link_to "回總報告", total_report_admin_menus_path,:class => "btn btn-primary "%>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#date1').datepicker({
     format: "yyyy-mm-dd"
  });
  $('#date2').datepicker({
     format: "yyyy-mm-dd"
  });
</script>
