<div class="container">
  <div class="row">
    <p id="notice">
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
    </p>
    <h1>遊戲詳細</h1>
    <p>
      <strong>遊戲上架時間:</strong>
      <%= @admin_menu.created_at.localtime.strftime("%Y/%m/%d") %>
      <%= @admin_menu.created_at.localtime.strftime("%_I:%M %P")%>
    </p>

    <p>
      <strong>遊戲大頭照:</strong>
      <%= image_tag(@menu.game_image(:thumb)) %>
       <br>
    </p>

    <p>
      <strong>遊戲名:</strong>
      <%= @admin_menu.name %>
    </p>

    <p>
      <strong>遊戲簡介:</strong>
      <%= @admin_menu.contents %>
    </p>

    <p>
      <strong>遊戲原始連結android:</strong>
      <%= @admin_menu.menu_url %>
    </p>

    <p>
      <strong>遊戲原始連結ios:</strong>
      <%= @admin_menu.menu_url_ios %>
    </p>
    <table class="table table-bordered">
      <tr>
        <th>CPC_Android</th>
        <th>CPI_Android</th>
        <th>CPA_Android</th>
        <th>CPC_IOS</th>
        <th>CPI_IOS</th>
        <th>CPA_IOS</th>
      </tr>
      <tr>
        <td><%= @admin_menu.cpc_android %></td>
        <td><%= @admin_menu.cpi_android %></td>
        <td><%= @admin_menu.cpa_android %></td>
        <td><%= @admin_menu.cpc_ios %></td>
        <td><%= @admin_menu.cpi_ios %></td>
        <td><%= @admin_menu.cpa_ios %></td>
      </tr>




    </table>
    <p>
      <strong>遊戲圖片1:</strong> <br>
      <%= image_tag(@menu.game_pic(:thumb)) %>
    </p>

    <p>
      <strong>遊戲圖片2:</strong> <br>
      <%= image_tag(@menu.game_pic_2(:thumb)) %>
    </p>

    <p>
      <strong>遊戲圖片3:</strong> <br>
      <%= image_tag(@menu.game_pic_3(:thumb)) %>
    </p>

    <p>
      <strong>遊戲圖片4:</strong> <br>
      <%= image_tag(@menu.game_pic_4(:thumb)) %>
    </p>

    <p>
      <strong>遊戲圖片5:</strong> <br>
      <%= image_tag(@menu.game_pic_5(:thumb)) %>
    </p>

    <p>
      <strong>遊戲icon:</strong> <br>
      <%= image_tag(@menu.game_icon(:medium)) %>
    </p>

    <%= link_to '編輯', edit_admin_menu_path(@admin_menu), :class => "btn btn-primary" %>
    <%= link_to '回到上架後台', admin_menus_path, :class => "btn btn-default" %></div>
</div>