<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @admin_menu.image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @admin_menu.name %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @admin_menu.contents %>
</p>

<p>
  <strong>Menu url:</strong>
  <%= @admin_menu.menu_url %>
</p>

<p>
  <strong>Menu url ios:</strong>
  <%= @admin_menu.menu_url_ios %>
</p>

<p>
  <strong>Game pic:</strong>
  <%= @admin_menu.game_pic %>
</p>

<p>
  <strong>Game pic 2:</strong>
  <%= @admin_menu.game_pic_2 %>
</p>

<p>
  <strong>Game pic 3:</strong>
  <%= @admin_menu.game_pic_3 %>
</p>

<p>
  <strong>Game pic 4:</strong>
  <%= @admin_menu.game_pic_4 %>
</p>

<p>
  <strong>Game pic 5:</strong>
  <%= @admin_menu.game_pic_5 %>
</p>

<p>
  <strong>Game icon:</strong>
  <%= @admin_menu.game_icon %>
</p>

<%= link_to 'Edit', edit_admin_menu_path(@admin_menu) %> |
<%= link_to 'Back', admin_menus_path %>
