<div class="container">
  <div class="row">
    <h1>遊戲詳細</h1>
    <p>
      <strong>遊戲上架時間:</strong>
      <%= @admin_menu.created_at.localtime.strftime("%Y/%m/%d") %>
      <%= @admin_menu.created_at.localtime.strftime("%_I:%M %P")%>
    </p>

    <p>
      <strong>遊戲推廣deadline:</strong>
      <%= @admin_menu.deadline %>
    </p>

    <p>
      <strong>遊戲推廣CPA period:</strong>
      <%= @admin_menu.cpa_period %> days
    </p>

    <p>
      <strong>遊戲名:</strong>
      <%= @admin_menu.name %>
    </p>
    <p>
      <strong>PackageName:</strong>
      <%= @admin_menu.package_name %>
    </p>

    <p>
      <strong>遊戲簡介:</strong>
      <%= @admin_menu.contents %>
    </p>

    <p>
      <strong>遊戲原始連結android:</strong>
      <%= @admin_menu.menu_url %>
    </p>

    <p>
      <strong>遊戲原始連結ios:</strong>
      <%= @admin_menu.menu_url_ios %>
    </p>
    <table class="table table-bordered">
      <tr>
        <th>CPC_Android</th>
        <th>CPI_Android</th>
        <th>CPA_Android</th>
        <th>CPC_IOS</th>
        <th>CPI_IOS</th>
        <th>CPA_IOS</th>
      </tr>
      <tr>
        <td><%= @admin_menu.cpc_android %></td>
        <td><%= @admin_menu.cpi_android %></td>
        <td><%= @admin_menu.cpa_android %></td>
        <td><%= @admin_menu.cpc_ios %></td>
        <td><%= @admin_menu.cpi_ios %></td>
        <td><%= @admin_menu.cpa_ios %></td>
      </tr>

      <tr>
        <th>CPC_Android_for_user</th>
        <th>CPI_Android_for_user</th>
        <th>CPA_Android_for_user</th>
        <th>CPC_IOS_for_user</th>
        <th>CPI_IOS_for_user</th>
        <th>CPA_IOS_for_user</th>
      </tr>
      <tr>
        <td><%= @admin_menu.cpc_android_user %></td>
        <td><%= @admin_menu.cpi_android_user %></td>
        <td><%= @admin_menu.cpa_android_user %></td>
        <td><%= @admin_menu.cpc_ios_user %></td>
        <td><%= @admin_menu.cpi_ios_user %></td>
        <td><%= @admin_menu.cpa_ios_user %></td>
      </tr>




    </table>
    <p>
      <strong>遊戲圖片:</strong> <br>
      <%= link_to image_tag(@menu.game_pic(:thumb)), "" , :data => {:toggle=>"modal", :target => "#pic1"} %>
      <%= link_to image_tag(@menu.game_pic_2(:thumb)), "" , :data => {:toggle=>"modal", :target => "#pic2"} %>
      <%= link_to image_tag(@menu.game_pic_3(:thumb)), "" , :data => {:toggle=>"modal", :target => "#pic3"} %>
    </p>
    <p>
      <strong>遊戲圖片2:</strong> <br>
      <%= link_to image_tag(@menu.game_pic_4(:thumb)), "" , :data => {:toggle=>"modal", :target => "#pic4"} %>
      <%= link_to image_tag(@menu.game_pic_5(:thumb)), "" , :data => {:toggle=>"modal", :target => "#pic5"} %>
      <%= link_to image_tag(@menu.game_image(:thumb)), "" , :data => {:toggle=>"modal", :target => "#pic6"} %>
    </p>

    <p>
      <strong>遊戲icon:</strong> <br>
      <%= link_to image_tag(@menu.game_icon(:thumb)), "" , :data => {:toggle=>"modal", :target => "#icon"} %>
      <%= image_tag(@menu.game_icon(:medium)) %>
    </p>

    <%= link_to '編輯', edit_admin_menu_path(@admin_menu), :class => "btn btn-primary" %>
    <%= link_to '回到上架後台', admin_menus_path, :class => "btn btn-default" %></div>
</div>


<!-- 要改code.... -->

<div class="modal fade" id="pic1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= image_tag( @menu.game_pic(:large)) %>
        </div>
    </div>
  </div>
</div>


<div class="modal fade" id="pic2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= image_tag( @menu.game_pic_2(:large)) %>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="pic3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= image_tag( @menu.game_pic_3(:large)) %>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="pic4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= image_tag( @menu.game_pic_4(:large)) %>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="pic5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= image_tag( @menu.game_pic_5(:large)) %>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="pic6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= image_tag( @menu.game_image(:large)) %>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="icon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= image_tag( @menu.game_icon(:large)) %>
        </div>
    </div>
  </div>
</div>
