<div class="container_fluid">
  <div class="row">
    <div class="container">
      <div class="row">
      <h1>案件總報表</h1>
      <div class="spacing_large"></div>
      <div class="row">
        <div class="col-xs-2 text-left grid">
          <span class="text_center_for_grid">上架區間</span>
        </div>
        <div class="col-xs-2 text-left grid">
          <span class="text_center_for_grid">
            <% if @date %>
              <%= @date %>
            <% else  %>
              <%= 30.days.ago.to_date ... Date.today.to_date %>
            <% end %>
          </span>
        </div>
        <div class="col-xs-4 col-xs-offset-3 text-right form-inline">
          <%#= search_form_for @q do |f| %>
          <%#= f.label :name_cont,"遊戲名" %>
          <%#= f.search_field :name_cont, :class => "form-control form_word" %>
          <%#= f.submit "Search", :class=>"btn btn-default"%>
          <%# end %>
        </div>
        <div class="spacing_large"></div>
        <div class="col-xs-2 text-left grid">
          <span class="text_center_for_grid">選取時間</span>
        </div>
        <div class="col-xs-2 text-center grid">
          <%= form_tag total_report_admin_menus_path, :method => :get do %>
           From <%= text_field_tag "date1",nil, class: "form-control"%>
           To <%= text_field_tag "date2",nil, class: "form-control"%><br>
           <%= submit_tag "Select", :class => "btn btn-default" %>
          <% end %>
        </div>
      </div>
      <div class="spacing_large"></div>
      <table class="table table-bordered">
          <tr class="table_header">
            <th>遊戲名稱</th>
            <th>上架時間</th>
            <th>推廣區間</th>
            <th>總點擊數</th>
            <th>總安裝數</th>
            <th>總執行數</th>
            <th>營業額</th>
            <th>淨利</th>
          </tr>


          <% @admin_menus.each do |menu| %>
          <tr>
            <td class="td"><%= link_to menu.name, day_report_admin_menu_path(menu),:class => "label label-primary"%></td>
            <td class="td"><%= menu.created_at.strftime("%Y-%m-%d %I:%M %p") %></td>
            <td class="td"><%= menu.try(:deadline) %></td>
            <td class="td"><%= menu.total_click?("ios",@early_date,@late_date) + menu.total_click?("android",@early_date,@late_date) %></td>
            <td class="td"><%= menu.total_install?("ios",@early_date,@late_date) + menu.total_install?("android",@early_date,@late_date)  %></td>
            <td class="td"><%= menu.total_excute?("ios",@early_date,@late_date) + menu.total_excute?("android",@early_date,@late_date)  %></td>
            <td class="td"><%= menu.total_profit?(@early_date,@late_date)  %></td>
            <td class="td"><%= menu.total_net_profit?(@early_date,@late_date)  %></td>
          </tr>
          <% end %>
      </table>
      <%= paginate @admin_menus  %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#date1').datepicker({
     format: "yyyy-mm-dd"
  });
  $('#date2').datepicker({
     format: "yyyy-mm-dd"
  });
</script>
